# Análisis exploratorio de datos

## Importación de librerías

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import re
import os
import plotly.express as pex
from plotly.subplots import make_subplots
import plotly.graph_objects as go

## Preliminar

In [ ]:

path_file = r'C:\Users\danie\OneDrive\Documents\Bootcamp_Proyecto\stations.parquet' 
Sta = pd.read_parquet(path_file)
Sta
path_file = r'C:\Users\danie\OneDrive\Documents\Bootcamp_Proyecto\rain.parquet' 
Rain = pd.read_parquet(path_file)
Rain = Rain.sort_values(['Sta','Date'])
Rain

In [9]:
#Obtener un df donde cada columna muestre la info de los deptos

fecha_columna = 'FechaObservacion'

In [ ]:
for file in files:
    file_path = os.path.join(folder_path, file)

    df = pd.read_parquet(file_path)
    
    rows, cols = df.shape
    
    if fecha_columna in df.columns:
       
        df[fecha_columna] = pd.to_datetime(df[fecha_columna], errors='coerce')

       
        fecha_minima = df[fecha_columna].min()
        fecha_maxima = df[fecha_columna].max()
        
        print(f"Archivo: {file} - Filas: {rows}, Columnas: {cols}")
        print(f"Fecha mínima: {fecha_minima}")
        print(f"Fecha máxima: {fecha_maxima}\n")
    else:
        print(f"Archivo: {file} - No se encontró la columna '{fecha_columna}'\n")

dataframes = {}

In [ ]:

for file in files:
    file_path = os.path.join(folder_path, file)
    
    df = pd.read_parquet(file_path)
    
    nombre_ciudad = file.split('_')[0]  # Extraer el nombre de la ciudad del nombre del archivo
    dataframes[nombre_ciudad] = df
dataframes={}

In [ ]:
resultados_agrupados = {}
for file in files:
    file_path = os.path.join(folder_path, file)
    
    df = pd.read_parquet(file_path)
    
    df['FechaObservacion'] = pd.to_datetime(df['FechaObservacion'], errors='coerce')
    
    
    df['Year'] = df['FechaObservacion'].dt.year
    df['Month'] = df['FechaObservacion'].dt.month
    
    
    df_grouped = df.groupby(['Year', 'Month','Departamento'], observed=False)['ValorObservado'].agg(['sum', 'mean']).reset_index()
    
    df_grouped.columns = ['Año', 'Mes', 'Departamento','Valor Total', 'Valor Promedio']
    
    # Guardar los resultados en el diccionario
    resultados_agrupados[nombre_ciudad] = df_grouped

In [ ]:
# Llamar al DataFrame de Bogotá
df_bogota =  resultados_agrupados[nombre_ciudad]
df_bogota

In [ ]:
### 1

df_part1 = pd.DataFrame()
for i in namesFiles:
    path_file = path + '\\' + i
    df_dept2 = pd.read_parquet(
                                path_file
                            )
    df_part2 = pd.concat([df_part2,df_dept2], ignore_index=True)
    del df_dept2

df_part1

In [ ]:
### EDA Bogota2
file_bogota=path+r'\rain_bogota2.parquet'
df_bogota = pd.read_parquet(file_bogota)
df_bogota.describe()
df_bogota.describe(include=['category'])

print(df_bogota['Departamento'].value_counts())
print(df_bogota['NombreEstacion'].value_counts())

In [ ]:

df_bogota['Year'] = df_bogota['FechaObservacion'].dt.year
df_bogota['Month'] = df_bogota['FechaObservacion'].dt.month

In [ ]:
year_total = (
    df_bogota
    .groupby(["Year"])["ValorObservado"]
    .sum()
    .reset_index()
)
year_total
year_mean = (
    df_bogota
    .groupby(["Year"])["ValorObservado"]
    .mean()
    .reset_index()
)
year_mean

In [ ]:
fig = make_subplots(rows=1, cols=1
                    #  , row_heights =[0.7, 0.3]
                    # , shared_xaxes = True
                    ,subplot_titles = ['Año'])
fig.add_trace(
    go.Scatter(x=year_total["Year"], y = year_total["ValorObservado"]
               , mode='lines+markers' # selcciona una combinación entre líneas y puntos
               , name = "Observado"
               ,legendgroup = '1'
               ),
)

In [ ]:
month_total = (
    df_bogota
    .groupby(["Month"])["ValorObservado"]
    .sum()
    .reset_index()
)
month_total
fig = make_subplots(rows=1, cols=1
                    #  , row_heights =[0.7, 0.3]
                    # , shared_xaxes = True
                    ,subplot_titles = ['Meses'])
fig.add_trace(
    go.Scatter(x=month_total["Month"], y = month_total["ValorObservado"]
               , mode='lines+markers' # selcciona una combinación entre líneas y puntos
               , name = "Observado"
               ,legendgroup = '1'
               ),
)

In [ ]:
df_bogota['Year'] = df_bogota['FechaObservacion'].dt.year
df_bogota['Month'] = df_bogota['FechaObservacion'].dt.month
df_grouped = df_bogota.groupby(['Year', 'Month'])['ValorObservado'].agg(['sum', 'mean']).reset_index()

df_grouped.columns = ['Year', 'Month', 'Valor Total', 'Valor Promedio']

df_grouped
df_grouped.max()

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(x='Month', y='Valor Total', data=df_grouped, marker='o')
plt.title('Distribución del Valor Total Observado por Mes')
plt.xlabel('Mes')
plt.ylabel('Valor Total')
plt.show()
plt.figure(figsize=(12, 6))
sns.lineplot(x='Month', y='Valor Promedio', data=df_grouped, marker='o')
plt.title('Distribución del Valor Promedio Observado por Mes')
plt.xlabel('Mes')
plt.ylabel('Valor Promedio')
plt.show()
plt.figure(figsize=(12, 6))
sns.barplot(x='Year', y='Valor Total', data=df_grouped, palette='Blues_d')
plt.title('Distribución del Valor Total Observado por Año')
plt.xlabel('Año')
plt.ylabel('Valor Total')
plt.show()
plt.figure(figsize=(12, 6))
sns.barplot(x='Year', y='Valor Promedio', data=df_grouped)
plt.title('Distribución del Valor Promedio Observado por Año')
plt.xlabel('Año')
plt.ylabel('Valor Promedio')
plt.show()

In [ ]:
df_pivot = df_grouped.pivot(index='Year', columns='Month', values='Valor Total')

In [ ]:

# Heatmap para visualizar el valor total observado por año y mes
plt.figure(figsize=(12, 6))
sns.heatmap(df_pivot, cmap='coolwarm',annot=True,fmt='.0f')
plt.title('Distribución del Valor Total Observado por Año y Mes')
plt.show()

In [ ]:
df_grouped = df_bogota.groupby(['Year', 'Month','Latitud','Longitud'])['ValorObservado'].agg(['sum', 'mean']).reset_index()

df_grouped.columns = ['Year', 'Month','Latitud','Longitud', 'Valor Total', 'Valor Promedio']

df_grouped
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Latitud', y='Longitud', hue='Valor Total', data=df_grouped, palette='coolwarm')
plt.title('Distribución geográfica de Valor Observado')
plt.show

### 23 últimos

Cantidad de estaciones
X = Rain.loc[Rain['Sta']==0, 'Date'].values
Y = Rain.loc[Rain['Sta']==0, 'Rain'].values

plt.plot(X,Y)
plt.show()

## Exploratory Analysis

In [ ]:
#path_file=r"daniel...\Data\CleanDatasets3 - Merged"

In [56]:
path_file=r"C:\Users\Josue Florez\Documents\Maria Angelica\Proyectos\Proyecto_bootcamp\Data\CleanDatasets3 - Merged\rain_version2.parquet"

In [57]:
df_rain=pd.read_parquet(path_file)

In [58]:
df_rain.shape

(195086136, 5)

In [59]:
df_rain.head()

   Sta  CodSen                Date  Rain       Date_diff
0    0       0 2018-05-04 12:00:00     0             NaT
1    0       0 2018-05-04 12:10:00     0 0 days 00:10:00
2    0       0 2018-05-04 12:20:00     0 0 days 00:10:00
3    0       0 2018-05-04 12:30:00     0 0 days 00:10:00
4    0       0 2018-05-04 12:40:00     0 0 days 00:10:00

In [60]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195086136 entries, 0 to 195086135
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   Sta        uint16
 1   CodSen     uint8
 2   Date       datetime64[ns]
 3   Rain       uint16
 4   Date_diff  timedelta64[ns]
dtypes: datetime64[ns](1), timedelta64[ns](1), uint16(2), uint8(1)
memory usage: 3.8 GB

In [61]:
df_rain.isna().sum()

Sta            0
CodSen         0
Date           0
Rain           0
Date_diff    894
dtype: int64

In [62]:
df_rain.duplicated().sum()

0

In [66]:
df_rain.describe()

,Sta,CodSen,Date,Rain,Date_diff
count,1.950861e+08,1.950861e+08,195086136,1.950861e+08,195085242
mean,3.841859e+02,2.106316e-02,2018-07-21 10:11:31.141516544,6.472265e+01,0 days 00:13:51.546570134
min,0.000000e+00,0.000000e+00,2003-01-20 15:20:00,0.000000e+00,0 days 00:00:00
25%,1.810000e+02,0.000000e+00,2017-03-09 20:30:00,0.000000e+00,0 days 00:05:00
50%,3.550000e+02,0.000000e+00,2019-06-21 04:40:00,0.000000e+00,0 days 00:10:00
75%,5.740000e+02,0.000000e+00,2021-05-20 02:00:00,0.000000e+00,0 days 00:10:00
max,8.930000e+02,1.000000e+00,2024-10-15 23:59:00,3.000000e+04,3550 days 12:40:00
std,2.465342e+02,1.435949e-01,NaN,9.046858e+02,1 days 10:00:22.529344626

In [68]:
frecuencia_Sta=df_rain["Sta"].value_counts()
print(frecuencia_Sta)

Sta
46     1615607
868    1598383
221     887155
752     872017
215     804195
        ...
870         30
493          8
500          4
254          4
552          2
Name: count, Length: 894, dtype: int64

In [69]:
frecuencia_rain=df_rain["Rain"].value_counts()
print(frecuencia_rain)

Rain
0       185238493
100       3481414
200       1673949
300        656582
400        599037
          ...
6641            1
4427            1
7423            1
4227            1
4483            1
Name: count, Length: 8945, dtype: int64

In [70]:
frecuencia_date=df_rain["Date"].value_counts()
print(frecuencia_date)

Date
2019-09-02 10:00:00    587
2019-09-02 11:00:00    587
2019-08-30 13:00:00    586
2019-09-03 13:00:00    585
2019-09-02 12:00:00    585
                      ...
2011-09-16 22:11:00      1
2011-09-16 22:01:00      1
2011-09-16 21:51:00      1
2011-09-16 21:41:00      1
2021-03-02 17:51:00      1
Name: count, Length: 4773511, dtype: int64