# Análisis exploratorio de datos

## Importación de librerías

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import re
import os
import plotly.express as pex
from plotly.subplots import make_subplots
import plotly.graph_objects as go

## Preliminar

In [ ]:

path_file = r'C:\Users\danie\OneDrive\Documents\Bootcamp_Proyecto\stations.parquet' 
Sta = pd.read_parquet(path_file)
Sta
path_file = r'C:\Users\danie\OneDrive\Documents\Bootcamp_Proyecto\rain.parquet' 
Rain = pd.read_parquet(path_file)
Rain = Rain.sort_values(['Sta','Date'])
Rain

In [9]:
#Obtener un df donde cada columna muestre la info de los deptos

fecha_columna = 'FechaObservacion'

In [ ]:
for file in files:
    file_path = os.path.join(folder_path, file)

    df = pd.read_parquet(file_path)
    
    rows, cols = df.shape
    
    if fecha_columna in df.columns:
       
        df[fecha_columna] = pd.to_datetime(df[fecha_columna], errors='coerce')

       
        fecha_minima = df[fecha_columna].min()
        fecha_maxima = df[fecha_columna].max()
        
        print(f"Archivo: {file} - Filas: {rows}, Columnas: {cols}")
        print(f"Fecha mínima: {fecha_minima}")
        print(f"Fecha máxima: {fecha_maxima}\n")
    else:
        print(f"Archivo: {file} - No se encontró la columna '{fecha_columna}'\n")

dataframes = {}

In [ ]:

for file in files:
    file_path = os.path.join(folder_path, file)
    
    df = pd.read_parquet(file_path)
    
    nombre_ciudad = file.split('_')[0]  # Extraer el nombre de la ciudad del nombre del archivo
    dataframes[nombre_ciudad] = df
dataframes={}

In [ ]:
resultados_agrupados = {}
for file in files:
    file_path = os.path.join(folder_path, file)
    
    df = pd.read_parquet(file_path)
    
    df['FechaObservacion'] = pd.to_datetime(df['FechaObservacion'], errors='coerce')
    
    
    df['Year'] = df['FechaObservacion'].dt.year
    df['Month'] = df['FechaObservacion'].dt.month
    
    
    df_grouped = df.groupby(['Year', 'Month','Departamento'], observed=False)['ValorObservado'].agg(['sum', 'mean']).reset_index()
    
    df_grouped.columns = ['Año', 'Mes', 'Departamento','Valor Total', 'Valor Promedio']
    
    # Guardar los resultados en el diccionario
    resultados_agrupados[nombre_ciudad] = df_grouped

In [ ]:
# Llamar al DataFrame de Bogotá
df_bogota =  resultados_agrupados[nombre_ciudad]
df_bogota

In [ ]:
### 1

df_part1 = pd.DataFrame()
for i in namesFiles:
    path_file = path + '\\' + i
    df_dept2 = pd.read_parquet(
                                path_file
                            )
    df_part2 = pd.concat([df_part2,df_dept2], ignore_index=True)
    del df_dept2

df_part1

In [ ]:
### EDA Bogota2
file_bogota=path+r'\rain_bogota2.parquet'
df_bogota = pd.read_parquet(file_bogota)
df_bogota.describe()
df_bogota.describe(include=['category'])

print(df_bogota['Departamento'].value_counts())
print(df_bogota['NombreEstacion'].value_counts())

In [ ]:

df_bogota['Year'] = df_bogota['FechaObservacion'].dt.year
df_bogota['Month'] = df_bogota['FechaObservacion'].dt.month

In [ ]:
year_total = (
    df_bogota
    .groupby(["Year"])["ValorObservado"]
    .sum()
    .reset_index()
)
year_total
year_mean = (
    df_bogota
    .groupby(["Year"])["ValorObservado"]
    .mean()
    .reset_index()
)
year_mean

In [ ]:
fig = make_subplots(rows=1, cols=1
                    #  , row_heights =[0.7, 0.3]
                    # , shared_xaxes = True
                    ,subplot_titles = ['Año'])
fig.add_trace(
    go.Scatter(x=year_total["Year"], y = year_total["ValorObservado"]
               , mode='lines+markers' # selcciona una combinación entre líneas y puntos
               , name = "Observado"
               ,legendgroup = '1'
               ),
)

In [ ]:
month_total = (
    df_bogota
    .groupby(["Month"])["ValorObservado"]
    .sum()
    .reset_index()
)
month_total
fig = make_subplots(rows=1, cols=1
                    #  , row_heights =[0.7, 0.3]
                    # , shared_xaxes = True
                    ,subplot_titles = ['Meses'])
fig.add_trace(
    go.Scatter(x=month_total["Month"], y = month_total["ValorObservado"]
               , mode='lines+markers' # selcciona una combinación entre líneas y puntos
               , name = "Observado"
               ,legendgroup = '1'
               ),
)

In [ ]:
df_bogota['Year'] = df_bogota['FechaObservacion'].dt.year
df_bogota['Month'] = df_bogota['FechaObservacion'].dt.month
df_grouped = df_bogota.groupby(['Year', 'Month'])['ValorObservado'].agg(['sum', 'mean']).reset_index()

df_grouped.columns = ['Year', 'Month', 'Valor Total', 'Valor Promedio']

df_grouped
df_grouped.max()

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(x='Month', y='Valor Total', data=df_grouped, marker='o')
plt.title('Distribución del Valor Total Observado por Mes')
plt.xlabel('Mes')
plt.ylabel('Valor Total')
plt.show()
plt.figure(figsize=(12, 6))
sns.lineplot(x='Month', y='Valor Promedio', data=df_grouped, marker='o')
plt.title('Distribución del Valor Promedio Observado por Mes')
plt.xlabel('Mes')
plt.ylabel('Valor Promedio')
plt.show()
plt.figure(figsize=(12, 6))
sns.barplot(x='Year', y='Valor Total', data=df_grouped, palette='Blues_d')
plt.title('Distribución del Valor Total Observado por Año')
plt.xlabel('Año')
plt.ylabel('Valor Total')
plt.show()
plt.figure(figsize=(12, 6))
sns.barplot(x='Year', y='Valor Promedio', data=df_grouped)
plt.title('Distribución del Valor Promedio Observado por Año')
plt.xlabel('Año')
plt.ylabel('Valor Promedio')
plt.show()

In [ ]:
df_pivot = df_grouped.pivot(index='Year', columns='Month', values='Valor Total')

In [ ]:

# Heatmap para visualizar el valor total observado por año y mes
plt.figure(figsize=(12, 6))
sns.heatmap(df_pivot, cmap='coolwarm',annot=True,fmt='.0f')
plt.title('Distribución del Valor Total Observado por Año y Mes')
plt.show()

In [ ]:
df_grouped = df_bogota.groupby(['Year', 'Month','Latitud','Longitud'])['ValorObservado'].agg(['sum', 'mean']).reset_index()

df_grouped.columns = ['Year', 'Month','Latitud','Longitud', 'Valor Total', 'Valor Promedio']

df_grouped
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Latitud', y='Longitud', hue='Valor Total', data=df_grouped, palette='coolwarm')
plt.title('Distribución geográfica de Valor Observado')
plt.show

### 23 últimos

Cantidad de estaciones
X = Rain.loc[Rain['Sta']==0, 'Date'].values
Y = Rain.loc[Rain['Sta']==0, 'Rain'].values

plt.plot(X,Y)
plt.show()

## Exploratory Analysis

In [ ]:
#path_file=r"daniel...\Data\CleanDatasets3 - Merged"

In [100]:
path_file=r"C:\Users\Josue Florez\Documents\Maria Angelica\Proyectos\Proyecto_bootcamp\Data\CleanDatasets2\Temp_1.parquet"

In [101]:
df_rain=pd.read_parquet(path_file)

In [91]:
df_rain.shape

(4101308, 12)

In [92]:
df_rain.head()

,CodigoEstacion,CodigoSensor,FechaObservacion,ValorObservado,NombreEstacion,Departamento,Municipio,ZonaHidrografica,Latitud,Longitud,DescripcionSensor,UnidadMedida
0,0048015050,0071,2024-01-04 09:58:00,21.100000,AEROPUERTO VASQUEZ COBO,AMAZONAS,LETICIA,AMAZONAS - DIRECTOS,-4.19386111,-69.94091667,GPRS - TEMPERATURA DEL AIRE A 2 m,°C
1,0015065180,0071,2024-01-04 07:46:00,22.299999,AEROPUERTO ALM. PADILLA -,LA GUAJIRA,RIOHACHA,CARIBE - GUAJIRA,11.5284444,-72.91772222,GPRS - TEMPERATURA DEL AIRE A 2 m,°C
2,3502500135,0071,2024-01-04 03:56:00,17.000000,GUAYABETAL POLLO OLIMPICO,CUNDINAMARCA,GUAYABETAL,META,4.22553,-73.81481,GPRS - TEMPERATURA DEL AIRE A 2 m,°C
3,0016015501,0071,2024-01-04 04:30:00,28.500000,AEROPUERTO CAMILO DAZA,NORTE DE SANTANDER,CÚCUTA,CATATUMBO,7.93028,-72.50917,GPRS - TEMPERATURA DEL AIRE A 2 m,°C
4,0026125710,0071,2024-01-04 06:58:00,20.900000,AEROPUERTO MATECANA,RISARALDA,PEREIRA,CAUCA,4.812675,-75.73951944,GPRS - TEMPERATURA DEL AIRE A 2 m,°C

In [93]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4101308 entries, 0 to 4101307
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   CodigoEstacion     category
 1   CodigoSensor       category
 2   FechaObservacion   datetime64[ns]
 3   ValorObservado     float32
 4   NombreEstacion     category
 5   Departamento       category
 6   Municipio          category
 7   ZonaHidrografica   category
 8   Latitud            category
 9   Longitud           category
 10  DescripcionSensor  category
 11  UnidadMedida       category
dtypes: category(10), datetime64[ns](1), float32(1)
memory usage: 86.1 MB

In [94]:
df_rain.isna().sum()

CodigoEstacion       0
CodigoSensor         0
FechaObservacion     0
ValorObservado       0
NombreEstacion       0
Departamento         0
Municipio            0
ZonaHidrografica     0
Latitud              0
Longitud             0
DescripcionSensor    0
UnidadMedida         0
dtype: int64

In [95]:
df_rain.duplicated().sum()

182605

In [88]:
df_rain.drop_duplicates()

,CodigoEstacion,CodigoSensor,FechaObservacion,ValorObservado,NombreEstacion,Departamento,Municipio,ZonaHidrografica,Latitud,Longitud,DescripcionSensor,UnidadMedida
0,0035075040,0068,2023-10-07 11:00:00,16.600000,INSTITUCION AGRICOLA MACANAL,BOYACÁ,MACANAL,META,4.97436111,-73.31675,TEMPERATURA DEL AIRE A 2 m,°C
1,0035195060,0068,2023-09-23 02:00:00,15.900000,TOQUILLA,BOYACÁ,AQUITANIA,META,5.52361111,-72.79097222,TEMPERATURA DEL AIRE A 2 m,°C
2,0024025501,0068,2023-09-18 07:30:00,20.740330,ALBERTO SANTOS,SANTANDER,SOCORRO,SOGAMOSO,6.49305278,-73.22111111,TEMPERATURA DEL AIRE A 2 m,°C
3,0026135503,0068,2023-09-20 01:10:00,30.978540,NARANJAL,CALDAS,CHINCHINA,CAUCA,4.97194444,-75.65221944,TEMPERATURA DEL AIRE A 2 m,°C
4,0054010010,0068,2023-10-06 09:00:00,26.000000,ISTMINA,CHOCÓ,ISTMINA,SAN JUÁN,5.15875,-76.68922222,TEMPERATURA DEL AIRE A 2 m,°C
...,...,...,...,...,...,...,...,...,...,...,...,...
1088638,0021205525,0068,2024-10-16 05:00:00,8.034147,VILLA PINZON-21205525,CUNDINAMARCA,VILLAPINZÓN,ALTO MAGDALENA,5.228805556,-73.58475,TEMPERATURA DEL AIRE A 2 m,°C
1088639,0035165000,0068,2024-10-16 12:00:00,18.000000,EL TUNEL,BOYACÁ,CUÍTIVA,META,5.574972222,-72.941,TEMPERATURA DEL AIRE A 2 m,°C
1088640,0011035030,0068,2024-10-16 07:00:00,22.700001,UNION PANAMERICANA,CHOCO,UNIÓN PANAMERICANA,ATRATO - DARIÉN,5.284827778,-76.627822222,TEMPERATURA DEL AIRE A 2 m,°C
1088641,0017015010,0068,2024-10-16 05:00:00,28.100000,AEROPUERTO SESQUICENTENARIO,ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...,SAN ANDRÉS,ISLAS CARIBE,12.587849,-81.701117,TEMPERATURA DEL AIRE A 2 m,°C
1088642,0011045010,0068,2024-10-16 05:00:00,31.900000,AEROPUERTO EL CARAÑO,CHOCO,QUIBDÓ,ATRATO - DARIÉN,5.690555556,-76.64377778,TEMPERATURA DEL AIRE A 2 m,°C

In [87]:
df_rain.duplicated().sum()

45835

In [102]:
df_rain.describe()

                    FechaObservacion  ValorObservado
count                        1091266    1.091266e+06
mean   2024-04-02 13:51:32.503825408    1.821802e+01
min              2023-09-11 01:00:00    0.000000e+00
25%              2023-12-04 12:00:00    1.200000e+01
50%              2024-03-27 11:20:00    1.697331e+01
75%              2024-08-07 06:00:00    2.460000e+01
max              2024-10-16 12:50:00    4.920000e+01
std                              NaN    7.461070e+00

In [68]:
frecuencia_Sta=df_rain["Sta"].value_counts()
print(frecuencia_Sta)

Sta
46     1615607
868    1598383
221     887155
752     872017
215     804195
        ...
870         30
493          8
500          4
254          4
552          2
Name: count, Length: 894, dtype: int64

In [82]:
frecuencia_rain=df_rain["ValorObservado"].value_counts()
print(frecuencia_rain)

ValorObservado
25.799999    4460
25.900000    4366
25.600000    4293
24.900000    4286
25.500000    4255
             ...
14.055200       1
14.080590       1
25.994940       1
19.594061       1
11.358420       1
Name: count, Length: 442661, dtype: int64

In [83]:
frecuencia_date=pd.DataFrame(df_rain["FechaObservacion"].value_counts())
print(frecuencia_date)

                     count
FechaObservacion
2024-09-05 12:00:00    401
2024-09-05 05:00:00    400
2024-09-05 01:00:00    399
2024-09-05 03:00:00    398
2024-09-08 04:00:00    397
...                    ...
2024-05-29 06:16:00      1
2024-05-29 05:48:00      1
2024-05-29 09:04:00      1
2024-05-29 07:17:00      1
2024-05-29 06:27:00      1

[24704 rows x 1 columns]

In [103]:
path_file=r"C:\Users\Josue Florez\Downloads\weatherAUS.csv\weatherAUS.csv"

In [104]:
df=pd.read_csv(path_file)

In [105]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [111]:
df_Albury=df[df["Location"]=="MountGambier"]
df_Albury

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
99513,2008-12-01,MountGambier,6.6,18.7,4.0,5.0,10.6,WNW,61.0,WNW,...,73.0,39.0,1009.4,1008.9,3.0,3.0,13.4,17.8,Yes,No
99514,2008-12-02,MountGambier,8.9,18.1,0.0,5.4,3.6,W,50.0,NW,...,74.0,49.0,1009.8,1008.9,8.0,8.0,14.4,16.2,No,No
99515,2008-12-03,MountGambier,10.1,19.3,1.0,3.2,12.0,WSW,43.0,WSW,...,73.0,47.0,1011.9,1013.9,5.0,6.0,13.6,18.2,No,No
99516,2008-12-04,MountGambier,5.9,21.2,0.0,4.4,1.6,NNE,50.0,ENE,...,69.0,39.0,1014.8,1009.5,8.0,8.0,13.7,20.5,No,Yes
99517,2008-12-05,MountGambier,13.6,19.3,12.8,3.8,1.8,WNW,63.0,NW,...,86.0,65.0,1005.7,1006.9,8.0,7.0,16.1,18.7,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102548,2017-06-21,MountGambier,8.7,13.2,2.0,NaN,NaN,S,20.0,NaN,...,98.0,82.0,1029.2,1028.3,NaN,8.0,11.1,12.0,Yes,No
102549,2017-06-22,MountGambier,7.0,15.7,0.0,NaN,NaN,N,31.0,N,...,92.0,67.0,1027.0,1022.4,8.0,NaN,10.0,14.9,No,No
102550,2017-06-23,MountGambier,5.4,16.2,0.0,NaN,NaN,N,37.0,NNW,...,90.0,70.0,1017.0,1014.4,8.0,4.0,6.4,14.9,No,Yes
102551,2017-06-24,MountGambier,4.8,12.3,2.2,NaN,NaN,W,28.0,NNW,...,93.0,70.0,1020.0,1018.0,5.0,8.0,8.2,11.5,Yes,No
102552,2017-06-25,MountGambier,6.4,NaN,0.6,NaN,NaN,NaN,NaN,NW,...,91.0,84.0,1016.9,1016.2,8.0,8.0,8.6,12.2,No,NaN

In [108]:
frecuencia_ciudad=(df["Location"].value_counts())
print(frecuencia_ciudad)

Location
Canberra            3436
Sydney              3344
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Perth               3193
Hobart              3193
Albany              3040
MountGambier        3040
Ballarat            3040
Townsville          3040
GoldCoast           3040
Cairns              3040
Launceston          3040
AliceSprings        3040
Bendigo             3040
Albury              3040
MountGinini         3040
Wollongong          3040
Newcastle           3039
Tuggeranong         3039
Penrith             3039
Woomera             3009
Nuriootpa           3009
Cobar               3009
CoffsHarbour        3009
Moree               3009
Sale                3009
PerthAirport        3009
PearceRAAF          3009
Witchcliffe         3009
BadgerysCreek       3009
Mildura             3009
NorfolkIsland       3009
MelbourneAirport    3009
Richmond            3009
SydneyAirport       3009
WaggaWagga          3009
Williamtown         3009
Dartmoor            3009
Watsonia            3009
Portland            3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Katherine           1578
Nhil                1578
Uluru               1578
Name: count, dtype: int64

In [107]:
df_Albury.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,3029.000000,3029.000000,3011.000000,0.0,0.0,3008.000000,3031.000000,3029.000000,3031.000000,3032.000000,3035.000000,3032.000000,1289.000000,1427.000000,3031.000000,3032.000000
mean,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780
std,6.069485,7.794924,6.230014,NaN,NaN,13.378187,6.733319,7.202528,17.435775,19.817397,7.361873,7.113363,2.387684,2.832176,6.369793,7.519399
min,-2.800000,6.800000,0.000000,NaN,NaN,9.000000,0.000000,0.000000,18.000000,7.000000,989.800000,982.900000,0.000000,1.000000,0.300000,6.400000
25%,4.700000,15.800000,0.000000,NaN,NaN,24.000000,4.000000,9.000000,61.000000,33.000000,1013.400000,1010.700000,5.000000,2.000000,9.300000,14.900000
50%,9.100000,21.900000,0.000000,NaN,NaN,31.000000,7.000000,13.000000,76.000000,47.000000,1018.400000,1015.600000,8.000000,7.000000,14.100000,20.600000
75%,14.300000,28.900000,0.400000,NaN,NaN,41.000000,11.000000,19.000000,88.000000,60.000000,1023.300000,1020.500000,8.000000,8.000000,19.350000,27.200000
max,28.300000,44.800000,104.200000,NaN,NaN,107.000000,37.000000,50.000000,100.000000,100.000000,1039.900000,1036.100000,8.000000,8.000000,34.500000,43.400000