In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
df = pd.read_parquet('../pressure.parquet')
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,36015020,2017-10-03 06:00:00,992.500000,275,CASANARE,PAZ DE ARIPORO,5.816,-71.420
1,21195190,2014-02-14 05:00:00,785.200012,74,CUNDINAMARCA,PASCA,4.310,-74.312
2,21015050,2013-09-27 06:00:00,805.299988,48,HUILA,SAN AGUSTÍN,1.926,-76.428
3,21115010,2005-11-28 10:00:00,958.500000,62,HUILA,VILLAVIEJA,3.234,-75.168
4,28035060,2008-04-08 04:00:00,988.700012,230,CESAR,VALLEDUPAR,10.464,-73.248
...,...,...,...,...,...,...,...,...
22611003,48015050,2024-10-16 11:04:00,1000.500000,290,AMAZONAS,LETICIA,-4.194,-69.941
22611004,48015050,2024-10-16 09:08:00,1004.099976,290,AMAZONAS,LETICIA,-4.194,-69.941
22611005,16015501,2024-10-16 07:02:00,972.900024,37,NORTE DE SANTANDER,CÚCUTA,7.931,-72.510
22611006,48015040,2024-10-16 10:40:00,997.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611007,11175000,2024-10-16 02:00:00,1006.000000,10,CHOCÓ,EL ATRATO,5.529,-76.634

In [44]:
df['Date'] = pd.to_datetime(df['Date'],format='%m/%d/%Y %I:%M:%S %p')
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long,Year
0,57015010,2001-03-15 11:29:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
1,57015010,2001-03-24 06:00:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
2,57015010,2001-03-26 06:16:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
3,57015010,2001-04-05 01:03:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
4,57015010,2001-04-10 07:48:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
...,...,...,...,...,...,...,...,...,...
22611003,29045190,2024-10-16 12:58:00,1008.599976,240,ATLÁNTICO,SOLEDAD,10.918,-74.780,2024
22611004,48015040,2024-10-16 12:59:00,997.299988,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363,2024
22611005,48015040,2024-10-16 12:59:00,996.700012,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363,2024
22611006,48015040,2024-10-16 12:59:00,997.299988,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363,2024
22611007,48015040,2024-10-16 12:59:00,996.700012,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363,2024

In [46]:
df[:60]

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long,Year
0,57015010,2001-03-15 11:29:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
1,57015010,2001-03-24 06:00:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
2,57015010,2001-03-26 06:16:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
3,57015010,2001-04-05 01:03:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
4,57015010,2001-04-10 07:48:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
5,57015010,2001-04-15 07:50:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
6,57015010,2001-04-26 02:37:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
7,57015010,2001-05-06 09:24:00,1131.800049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
8,57015010,2001-05-16 04:11:00,1131.300049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
9,57015010,2001-05-26 10:58:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
10,57015010,2001-06-06 05:45:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
11,57015010,2001-06-13 01:48:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
12,57015010,2001-06-16 12:32:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
13,57015010,2001-06-26 07:19:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
14,57015010,2001-07-16 01:54:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
15,57015010,2001-11-10 12:36:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
16,57015010,2001-11-26 11:06:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
17,57015010,2001-12-06 05:53:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
18,57015010,2001-12-11 03:00:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
19,57015010,2001-12-17 12:40:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
20,57015010,2001-12-27 07:27:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2001
21,57015010,2002-01-06 02:14:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
22,57015010,2002-01-09 10:48:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
23,57015010,2002-01-16 09:01:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
24,57015010,2002-01-27 03:48:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
25,57015010,2002-02-06 10:35:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
26,57015010,2002-02-16 05:22:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
27,57015010,2002-02-27 12:09:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
28,57015010,2002-06-20 10:31:00,1182.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
29,57015010,2002-06-29 07:12:00,1132.000000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
30,57015010,2002-07-09 09:21:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
31,57015010,2002-07-15 09:00:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
32,57015010,2002-07-20 04:08:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
33,57015010,2002-07-30 10:55:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
34,57015010,2002-08-01 10:48:00,1131.300049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
35,57015010,2002-08-09 05:42:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
36,57015010,2002-08-18 12:36:00,1131.300049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
37,57015010,2002-08-26 11:28:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
38,57015010,2002-08-29 12:17:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
39,57015010,2002-09-02 12:15:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
40,57015010,2002-09-03 02:24:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
41,57015010,2002-09-08 07:04:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
42,57015010,2002-09-09 01:02:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
43,57015010,2002-09-16 01:49:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
44,57015010,2002-09-19 01:51:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
45,57015010,2002-09-20 04:12:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
46,57015010,2002-09-23 02:36:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
47,57015010,2002-09-29 08:38:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
48,57015010,2002-09-30 03:23:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
49,57015010,2002-10-06 06:00:00,1131.599976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
50,57015010,2002-10-09 03:25:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
51,57015010,2002-10-19 10:12:00,1131.300049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
52,57015010,2002-11-07 03:00:00,1131.400024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
53,57015010,2002-11-24 07:41:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
54,57015010,2002-12-01 08:28:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
55,57015010,2002-12-09 12:00:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
56,57015010,2002-12-26 01:48:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
57,57015010,2002-12-28 08:39:00,1131.800049,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2002
58,57015010,2003-01-15 06:05:00,1132.000000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2003
59,57015010,2003-01-22 06:52:00,1132.000000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609,2003

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22611008 entries, 0 to 22611007
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   CodSta    uint64
 1   Date      datetime64[ns]
 2   Pressure  float32
 3   Sta       int64
 4   Dept      category
 5   City      category
 6   Lat       float64
 7   Long      float64
dtypes: category(2), datetime64[ns](1), float32(1), float64(2), int64(1), uint64(1)
memory usage: 1013.5 MB

In [45]:
df.describe()

,CodSta,Date,Pressure,Sta,Lat,Long,Year
count,2.261101e+07,22611008,2.261101e+07,2.261101e+07,2.261101e+07,2.261101e+07,2.261101e+07
mean,2.125138e+08,2018-11-15 02:35:05.511709440,8.530242e+02,1.756673e+02,5.500518e+00,-7.456782e+01,2.018354e+03
min,1.103001e+07,2001-03-15 11:29:00,4.001000e+02,0.000000e+00,-4.194000e+00,-8.170100e+01,2.001000e+03
25%,2.120552e+07,2016-06-28 03:00:00,7.410000e+02,9.000000e+01,4.367000e+00,-7.574000e+01,2.016000e+03
50%,2.405507e+07,2019-12-12 05:00:00,8.504000e+02,1.790000e+02,5.075000e+00,-7.427400e+01,2.019000e+03
75%,3.507508e+07,2022-06-21 12:00:00,9.950000e+02,2.540000e+02,7.121000e+00,-7.347200e+01,2.022000e+03
max,5.311500e+09,2024-10-16 12:59:00,1.199700e+03,4.020000e+02,1.579700e+01,0.000000e+00,2.024000e+03
std,7.121530e+08,NaN,1.579882e+02,1.021961e+02,3.322486e+00,2.176698e+00,4.880014e+00

In [5]:
df.isna().sum()

CodSta      0
Date        0
Pressure    0
Sta         0
Dept        0
City        0
Lat         0
Long        0
dtype: int64

In [6]:
df.nunique()

CodSta         403
Date        533003
Pressure    380266
Sta            403
Dept            33
City           309
Lat            381
Long           386
dtype: int64

In [10]:
df.duplicated().sum()

945603

In [11]:
duplicados = df[df.duplicated()].sort_values(by='Date', ascending=True).reset_index(drop=True)
duplicados

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,21206940,2004-10-22 10:00:00,743.000000,110,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",4.577,-74.177
1,21206940,2004-10-23 01:00:00,742.000000,110,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",4.577,-74.177
2,21206940,2004-10-23 02:00:00,741.000000,110,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",4.577,-74.177
3,21206940,2004-10-23 07:00:00,743.000000,110,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",4.577,-74.177
4,21206940,2004-10-23 10:00:00,744.000000,110,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",4.577,-74.177
...,...,...,...,...,...,...,...,...
945598,26125061,2024-10-16 12:58:00,874.099976,204,QUINDÍO,ARMENIA,4.455,-75.766
945599,52055230,2024-10-16 12:58:00,717.099976,306,NARIÑO,ALDANA,0.857,-77.678
945600,48015050,2024-10-16 12:58:00,1000.599976,290,AMAZONAS,LETICIA,-4.194,-69.941
945601,48015040,2024-10-16 12:59:00,996.700012,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
945602,48015040,2024-10-16 12:59:00,997.299988,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363

In [12]:
df = df.sort_values(by='Date', ascending=True).reset_index(drop=True)
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,57015010,2001-03-15 11:29:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
1,57015010,2001-03-24 06:00:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
2,57015010,2001-03-26 06:16:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
3,57015010,2001-04-05 01:03:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
4,57015010,2001-04-10 07:48:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
...,...,...,...,...,...,...,...,...
22611003,29045190,2024-10-16 12:58:00,1008.599976,240,ATLÁNTICO,SOLEDAD,10.918,-74.780
22611004,48015040,2024-10-16 12:59:00,997.299988,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611005,48015040,2024-10-16 12:59:00,996.700012,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611006,48015040,2024-10-16 12:59:00,997.299988,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611007,48015040,2024-10-16 12:59:00,996.700012,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363

In [13]:
df[['Dept', 'City']] = df[['Dept', 'City']].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22611008 entries, 0 to 22611007
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   CodSta    uint64
 1   Date      datetime64[ns]
 2   Pressure  float32
 3   Sta       int64
 4   Dept      object
 5   City      object
 6   Lat       float64
 7   Long      float64
dtypes: datetime64[ns](1), float32(1), float64(2), int64(1), object(2), uint64(1)
memory usage: 1.3+ GB

In [14]:
result = (df.groupby([df['Date'].dt.year, 'Dept', 'City','CodSta'],observed=True)
          .size()
          .reset_index(name='Observations')
          .query('Observations > 1')
          .sort_values('Date'))
result

      Date             Dept          City      CodSta  Observations
0     2001  VALLE DEL CAUCA  BUENAVENTURA    57015010            21
1     2002  VALLE DEL CAUCA  BUENAVENTURA    57015010            37
3     2003  VALLE DEL CAUCA  BUENAVENTURA    57015010            67
4     2004     BOGOTÁ, D.C.  BOGOTÁ, D.C.    21206940          1011
5     2004           NARIÑO       PUERRES    52055150             4
...    ...              ...           ...         ...           ...
2873  2024            CHOCÓ       ISTMINA    54010010          3106
2874  2024            CHOCÓ       ISTMINA    54050010          2759
2875  2024            CHOCÓ         LLORÓ  1117500060           180
2877  2024            CHOCÓ        QUIBDÓ    11045010          2244
3010  2024          VICHADA  LA PRIMAVERA  3526500201          2296

[3007 rows x 5 columns]

In [15]:
result_2004 = result[result['Date'] == 2004]
result_2004

   Date             Dept          City    CodSta  Observations
4  2004     BOGOTÁ, D.C.  BOGOTÁ, D.C.  21206940          1011
5  2004           NARIÑO       PUERRES  52055150             4
6  2004  VALLE DEL CAUCA  BUENAVENTURA  57015010            57

In [16]:
print("\nResumen por año:")
result.groupby('Date')['Observations'].agg(['count', 'sum'])

Resumen por año:

      count      sum
Date
2001      1       21
2002      1       37
2003      1       67
2004      3     1072
2005     58   181871
2006     67   374309
2007     75   433153
2008     79   480291
2009     79   469227
2010     78   460523
2011     80   461815
2012     85   414691
2013     91   571072
2014    104   618074
2015    119   764776
2016    125   879354
2017    151   934823
2018    201  1259243
2019    305  3175006
2020    297  2871019
2021    272  2048294
2022    252  1069966
2023    272  1808252
2024    211  3334048

In [42]:
Dept = 'BOGOTÁ, D.C.'
Y = 2024
df['Year'] = df['Date'].dt.year
df_filtradoa = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()
df_filtradoa

                  Dept          City                Date    Pressure    CodSta
19276978  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 01:00:00  752.007324  21205523
19276990  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 01:00:00  687.618103  35025502
19277016  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 01:00:00  705.961487  21205509
19277027  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 01:00:00  701.697998  21205512
19277036  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 01:00:00  701.663513  21205512
...                ...           ...                 ...         ...       ...
22610378  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 12:40:00  751.430725  21205523
22610675  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 12:50:00  753.002808  21205523
22610683  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 12:50:00  753.002808  21205523
22610711  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 12:50:00  751.289673  21205523
22610732  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 12:50:00  751.289673  21205523

[66173 rows x 5 columns]

In [43]:
df_filtradoa[df_filtradoa['Date'].dt.hour>=18]

Empty DataFrame
Columns: [Dept, City, Date, Pressure, CodSta]
Index: []

In [33]:
df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '00'
    elif 6 <= hour < 12:
        return '06'
    elif 12 <= hour < 18:
        return '12'
    elif 18 <= hour < 24:
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_filtrado

,Dept,City,Date,Pressure,CodSta,Date_only,Hour,Interval
19276962,CHOCÓ,SAN JOSÉ DEL PALMAR,2024-01-01 01:00:00,894.900024,54025010,2024-01-01,1,00
19276977,CHOCÓ,CÉRTEGUI,2024-01-01 01:00:00,1007.900024,11030010,2024-01-01,1,00
19276981,CHOCÓ,BAHÍA SOLANO,2024-01-01 01:00:00,1013.799988,56015010,2024-01-01,1,00
19277001,CHOCÓ,CÉRTEGUI,2024-01-01 01:00:00,1007.799988,11030010,2024-01-01,1,00
19277068,CHOCÓ,EL ATRATO,2024-01-01 01:00:00,1009.200012,11175000,2024-01-01,1,00
...,...,...,...,...,...,...,...,...
22608924,CHOCÓ,QUIBDÓ,2024-10-16 12:00:00,1005.700012,11045010,2024-10-16,12,12
22608935,CHOCÓ,NÓVITA,2024-10-16 12:00:00,1003.000000,54020020,2024-10-16,12,12
22608946,CHOCÓ,ISTMINA,2024-10-16 12:00:00,1005.000000,54010010,2024-10-16,12,12
22608947,CHOCÓ,ISTMINA,2024-10-16 12:00:00,1010.099976,54050010,2024-10-16,12,12
22608971,CHOCÓ,ISTMINA,2024-10-16 12:00:00,1005.000000,54010010,2024-10-16,12,12

In [19]:
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()
df_avg

      CodSta             Dept          City   Date_only Interval  AvgPressure
0   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-03-15       06  1131.900024
1   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-03-24       06  1131.199951
2   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-03-26       06  1131.699951
3   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-04-05       00  1132.099976
4   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-04-10       06  1131.500000
5   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-04-15       06  1132.099976
6   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-04-26       00  1132.099976
7   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-05-06       06  1131.800049
8   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-05-16       00  1131.300049
9   57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-05-26       06  1131.699951
10  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-06-06       00  1132.099976
11  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-06-13       00  1131.599976
12  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-06-16       12  1131.500000
13  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-06-26       06  1131.699951
14  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-07-16       00  1131.400024
15  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-11-10       12  1131.599976
16  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-11-26       06  1131.900024
17  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-12-06       00  1131.599976
18  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-12-11       00  1131.599976
19  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-12-17       12  1131.400024
20  57015010  VALLE DEL CAUCA  BUENAVENTURA  2001-12-27       06  1132.099976

In [21]:


df_pivot = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

      CodSta          City        Date           00           06           12
0   57015010  BUENAVENTURA  2001-03-15          NaN  1131.900024          NaN
1   57015010  BUENAVENTURA  2001-03-24          NaN  1131.199951          NaN
2   57015010  BUENAVENTURA  2001-03-26          NaN  1131.699951          NaN
3   57015010  BUENAVENTURA  2001-04-05  1132.099976          NaN          NaN
4   57015010  BUENAVENTURA  2001-04-10          NaN  1131.500000          NaN
5   57015010  BUENAVENTURA  2001-04-15          NaN  1132.099976          NaN
6   57015010  BUENAVENTURA  2001-04-26  1132.099976          NaN          NaN
7   57015010  BUENAVENTURA  2001-05-06          NaN  1131.800049          NaN
8   57015010  BUENAVENTURA  2001-05-16  1131.300049          NaN          NaN
9   57015010  BUENAVENTURA  2001-05-26          NaN  1131.699951          NaN
10  57015010  BUENAVENTURA  2001-06-06  1132.099976          NaN          NaN
11  57015010  BUENAVENTURA  2001-06-13  1131.599976          NaN          NaN
12  57015010  BUENAVENTURA  2001-06-16          NaN          NaN  1131.500000
13  57015010  BUENAVENTURA  2001-06-26          NaN  1131.699951          NaN
14  57015010  BUENAVENTURA  2001-07-16  1131.400024          NaN          NaN
15  57015010  BUENAVENTURA  2001-11-10          NaN          NaN  1131.599976
16  57015010  BUENAVENTURA  2001-11-26          NaN  1131.900024          NaN
17  57015010  BUENAVENTURA  2001-12-06  1131.599976          NaN          NaN
18  57015010  BUENAVENTURA  2001-12-11  1131.599976          NaN          NaN
19  57015010  BUENAVENTURA  2001-12-17          NaN          NaN  1131.400024
20  57015010  BUENAVENTURA  2001-12-27          NaN  1132.099976          NaN

In [ ]:
Dept = 'CHOCÓ'
Y = 2024

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_pivot = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

          CodSta      City        Date           00           06           12
0       11030010  CÉRTEGUI  2024-01-01  1006.779968  1008.558350  1008.699951
1       11030010  CÉRTEGUI  2024-01-02  1005.770020  1007.333313  1007.599976
2       11030010  CÉRTEGUI  2024-01-03  1005.590027  1007.891663  1007.450012
3       11030010  CÉRTEGUI  2024-01-04  1006.866638  1008.536377  1008.650024
4       11030010  CÉRTEGUI  2024-01-05  1005.959961  1007.663635  1008.700012
...          ...       ...         ...          ...          ...          ...
1479  1117500060     LLORÓ  2024-09-09  1004.579956  1003.474976  1002.449951
1480  1117500060     LLORÓ  2024-09-10  1003.570007  1002.525024  1001.650024
1481  1117500060     LLORÓ  2024-09-11  1003.529968  1002.150024  1001.349976
1482  1117500060     LLORÓ  2024-09-12  1004.159973  1003.422180  1002.150024
1483  1117500060     LLORÓ  2024-09-13  1005.200012  1004.150024  1002.500000

[1484 rows x 6 columns]

In [30]:
df_filtrado[df_filtrado['Hour']>=18]

Empty DataFrame
Columns: [Dept, City, Date, Pressure, CodSta, Date_only, Hour, Interval]
Index: []

In [21]:
Dept = 'VALLE DEL CAUCA'
Y = 2003

df['Year'] = df['Date'].dt.year
filtro = (df['Dept'] == Dept) & (df['Year'] == Y)
df_filtrado = df.loc[filtro, ['Dept','City', 'Date', 'Pressure', 'CodSta']]

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '00'
    elif 6 <= hour < 12:
        return '06'
    elif 12 <= hour < 18:
        return '12'
    elif 18 <= hour < 24:
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_avg = df_avg.dropna(subset=['AvgPressure'])

df4 = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df4.columns.name = None
df4.rename(columns={'Date_only': 'Date'}, inplace=True)

df4

<ipython-input-21-a0afc48d3ef8>:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(

      CodSta          City        Date           00           06           12
0   57015010  BUENAVENTURA  2003-01-15          NaN  1132.000000          NaN
1   57015010  BUENAVENTURA  2003-01-22          NaN  1132.000000          NaN
2   57015010  BUENAVENTURA  2003-01-26          NaN  1132.000000          NaN
3   57015010  BUENAVENTURA  2003-02-12          NaN          NaN  1132.000000
4   57015010  BUENAVENTURA  2003-02-18          NaN  1132.099976          NaN
5   57015010  BUENAVENTURA  2003-02-25          NaN  1131.800049          NaN
6   57015010  BUENAVENTURA  2003-03-01  1131.300049          NaN          NaN
7   57015010  BUENAVENTURA  2003-03-10          NaN          NaN  1131.900024
8   57015010  BUENAVENTURA  2003-03-17  1131.300049          NaN          NaN
9   57015010  BUENAVENTURA  2003-03-20          NaN  1131.599976          NaN
10  57015010  BUENAVENTURA  2003-03-31  1131.400024          NaN          NaN
11  57015010  BUENAVENTURA  2003-04-03          NaN  1131.199951          NaN
12  57015010  BUENAVENTURA  2003-04-10          NaN  1132.099976          NaN
13  57015010  BUENAVENTURA  2003-04-19          NaN  1131.900024          NaN
14  57015010  BUENAVENTURA  2003-04-20  1131.800049          NaN          NaN
15  57015010  BUENAVENTURA  2003-04-30          NaN  1131.599976          NaN
16  57015010  BUENAVENTURA  2003-05-06          NaN  1131.800049          NaN
17  57015010  BUENAVENTURA  2003-05-11  1131.199951          NaN          NaN
18  57015010  BUENAVENTURA  2003-05-21          NaN  1131.400024          NaN
19  57015010  BUENAVENTURA  2003-05-22          NaN  1131.900024          NaN
20  57015010  BUENAVENTURA  2003-05-30          NaN  1132.000000          NaN
21  57015010  BUENAVENTURA  2003-05-31          NaN  1131.599976          NaN
22  57015010  BUENAVENTURA  2003-06-11  1131.699951          NaN          NaN
23  57015010  BUENAVENTURA  2003-06-19          NaN  1132.000000          NaN
24  57015010  BUENAVENTURA  2003-06-21          NaN  1131.800049          NaN
25  57015010  BUENAVENTURA  2003-06-23          NaN  1131.800049          NaN
26  57015010  BUENAVENTURA  2003-06-26          NaN          NaN  1131.599976
27  57015010  BUENAVENTURA  2003-07-03          NaN          NaN  1131.800049
28  57015010  BUENAVENTURA  2003-07-10  1131.400024  1131.800049          NaN
29  57015010  BUENAVENTURA  2003-07-17  1131.400024          NaN          NaN
30  57015010  BUENAVENTURA  2003-07-24  1131.599976          NaN          NaN
31  57015010  BUENAVENTURA  2003-07-27          NaN          NaN  1131.300049
32  57015010  BUENAVENTURA  2003-07-31  1131.400024          NaN          NaN
33  57015010  BUENAVENTURA  2003-08-07  1131.599976          NaN          NaN
34  57015010  BUENAVENTURA  2003-08-12  1131.800049          NaN          NaN
35  57015010  BUENAVENTURA  2003-08-14  1131.800049          NaN          NaN
36  57015010  BUENAVENTURA  2003-08-28          NaN   929.900024          NaN
37  57015010  BUENAVENTURA  2003-08-30   910.200012          NaN          NaN
38  57015010  BUENAVENTURA  2003-08-31          NaN   550.500000          NaN
39  57015010  BUENAVENTURA  2003-09-04          NaN   770.799988          NaN
40  57015010  BUENAVENTURA  2003-09-07   409.600006          NaN          NaN
41  57015010  BUENAVENTURA  2003-09-10          NaN   409.899994          NaN
42  57015010  BUENAVENTURA  2003-09-11          NaN  1131.699951          NaN
43  57015010  BUENAVENTURA  2003-09-17   409.899994          NaN          NaN
44  57015010  BUENAVENTURA  2003-09-18          NaN  1006.500000          NaN
45  57015010  BUENAVENTURA  2003-09-22          NaN   821.900024          NaN
46  57015010  BUENAVENTURA  2003-09-29   821.799988          NaN          NaN
47  57015010  BUENAVENTURA  2003-10-06          NaN   821.900024          NaN
48  57015010  BUENAVENTURA  2003-10-11          NaN   412.399994          NaN
49  57015010  BUENAVENTURA  2003-10-12   412.299988          NaN          NaN
50  57015010  BUENAVENTURA  2003-10-13   412.399994          NaN          NaN
51  57015010  BUENAVENTURA  2003-10-15          NaN  1131.400024          NaN
52  57015010  BUENAVENTURA  2003-10-31          NaN  1132.000000          NaN
53  57015010  BUENAVENTURA  2003-11-10  1131.599976  1131.400024          NaN
54  57015010  BUENAVENTURA  2003-11-17          NaN  1131.449951          NaN
55  57015010  BUENAVENTURA  2003-11-20          NaN  1131.400024          NaN
56  57015010  BUENAVENTURA  2003-12-01          NaN  1132.099976          NaN
57  57015010  BUENAVENTURA  2003-12-02          NaN  1131.400024          NaN
58  57015010  BUENAVENTURA  2003-12-11  1131.300049          NaN          NaN
59  57015010  BUENAVENTURA  2003-12-21          NaN  1131.699951          NaN

In [22]:
Dept = 'VALLE DEL CAUCA'
Y = 2004

df['Year'] = df['Date'].dt.year
filtro = (df['Dept'] == Dept) & (df['Year'] == Y)
df_filtrado = df.loc[filtro, ['Dept','City', 'Date', 'Pressure', 'CodSta']]

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '00'
    elif 6 <= hour < 12:
        return '06'
    elif 12 <= hour < 18:
        return '12'
    elif 18 <= hour < 24:
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_avg = df_avg.dropna(subset=['AvgPressure'])

df1 = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df1.columns.name = None
df1.rename(columns={'Date_only': 'Date'}, inplace=True)

df1

<ipython-input-22-66198899a948>:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(

      CodSta          City        Date           00           06           12
0   57015010  BUENAVENTURA  2004-01-01  1132.099976          NaN          NaN
1   57015010  BUENAVENTURA  2004-01-11  1132.000000  1131.300049          NaN
2   57015010  BUENAVENTURA  2004-01-18  1131.500000          NaN          NaN
3   57015010  BUENAVENTURA  2004-01-21  1131.599976          NaN          NaN
4   57015010  BUENAVENTURA  2004-01-25  1131.900024          NaN          NaN
5   57015010  BUENAVENTURA  2004-01-31          NaN  1131.699951          NaN
6   57015010  BUENAVENTURA  2004-02-01  1131.699951          NaN          NaN
7   57015010  BUENAVENTURA  2004-02-08  1131.699951          NaN          NaN
8   57015010  BUENAVENTURA  2004-02-15  1131.699951          NaN          NaN
9   57015010  BUENAVENTURA  2004-02-18          NaN  1132.000000          NaN
10  57015010  BUENAVENTURA  2004-02-19          NaN   761.000000          NaN
11  57015010  BUENAVENTURA  2004-02-22          NaN  1131.800049          NaN
12  57015010  BUENAVENTURA  2004-02-29          NaN  1131.599976          NaN
13  57015010  BUENAVENTURA  2004-03-04          NaN          NaN  1132.000000
14  57015010  BUENAVENTURA  2004-03-20          NaN  1132.000000          NaN
15  57015010  BUENAVENTURA  2004-03-25          NaN  1131.199951          NaN
16  57015010  BUENAVENTURA  2004-04-01          NaN  1131.199951          NaN
17  57015010  BUENAVENTURA  2004-04-09  1132.000000          NaN          NaN
18  57015010  BUENAVENTURA  2004-04-16          NaN  1131.400024          NaN
19  57015010  BUENAVENTURA  2004-04-21  1131.500000          NaN          NaN
20  57015010  BUENAVENTURA  2004-04-28          NaN  1131.599976          NaN
21  57015010  BUENAVENTURA  2004-05-01  1131.400024          NaN          NaN
22  57015010  BUENAVENTURA  2004-05-08          NaN  1131.300049          NaN
23  57015010  BUENAVENTURA  2004-05-18  1131.800049          NaN          NaN
24  57015010  BUENAVENTURA  2004-05-29          NaN  1131.300049          NaN
25  57015010  BUENAVENTURA  2004-05-30  1131.300049          NaN          NaN
26  57015010  BUENAVENTURA  2004-06-01          NaN  1131.900024          NaN
27  57015010  BUENAVENTURA  2004-06-12  1131.599976          NaN          NaN
28  57015010  BUENAVENTURA  2004-06-16  1131.500000          NaN          NaN
29  57015010  BUENAVENTURA  2004-06-22          NaN  1131.400024          NaN
30  57015010  BUENAVENTURA  2004-06-23  1131.300049          NaN          NaN
31  57015010  BUENAVENTURA  2004-07-01  1131.300049  1131.699951          NaN
32  57015010  BUENAVENTURA  2004-07-02  1132.099976          NaN          NaN
33  57015010  BUENAVENTURA  2004-07-15  1131.300049          NaN          NaN
34  57015010  BUENAVENTURA  2004-07-18          NaN          NaN  1131.500000
35  57015010  BUENAVENTURA  2004-07-22          NaN  1131.199951          NaN
36  57015010  BUENAVENTURA  2004-07-25          NaN  1131.300049          NaN
37  57015010  BUENAVENTURA  2004-08-01  1132.099976          NaN          NaN
38  57015010  BUENAVENTURA  2004-08-02          NaN  1131.699951          NaN
39  57015010  BUENAVENTURA  2004-08-11          NaN  1131.199951          NaN
40  57015010  BUENAVENTURA  2004-08-17  1132.000000          NaN          NaN
41  57015010  BUENAVENTURA  2004-08-22          NaN  1131.599976          NaN
42  57015010  BUENAVENTURA  2004-09-01          NaN          NaN  1131.699951
43  57015010  BUENAVENTURA  2004-09-12  1132.000000          NaN          NaN
44  57015010  BUENAVENTURA  2004-09-14  1131.599976          NaN          NaN
45  57015010  BUENAVENTURA  2004-09-19  1131.199951          NaN          NaN
46  57015010  BUENAVENTURA  2004-09-26  1131.849976          NaN          NaN
47  57015010  BUENAVENTURA  2004-10-03  1131.800049          NaN          NaN
48  57015010  BUENAVENTURA  2004-10-18  1131.300049          NaN          NaN
49  57015010  BUENAVENTURA  2004-11-01  1131.599976          NaN          NaN
50  57015010  BUENAVENTURA  2004-11-08  1131.300049          NaN          NaN
51  57015010  BUENAVENTURA  2004-11-15          NaN  1132.099976          NaN
52  57015010  BUENAVENTURA  2004-11-23  1132.099976          NaN          NaN
53  57015010  BUENAVENTURA  2004-11-30  1131.300049          NaN          NaN

In [23]:
Dept = 'NARIÑO'
Y = 2004

df['Year'] = df['Date'].dt.year
filtro = (df['Dept'] == Dept) & (df['Year'] == Y)
df_filtrado = df.loc[filtro, ['Dept','City', 'Date', 'Pressure', 'CodSta']]

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '00'
    elif 6 <= hour < 12:
        return '06'
    elif 12 <= hour < 18:
        return '12'
    elif 18 <= hour < 24:
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_avg = df_avg.dropna(subset=['AvgPressure'])

df2 = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df2.columns.name = None
df2.rename(columns={'Date_only': 'Date'}, inplace=True)

df2

<ipython-input-23-cc105f704302>:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(

     CodSta     City        Date     00           06           12
0  52055150  PUERRES  2004-08-24    NaN  1131.699951          NaN
1  52055150  PUERRES  2004-09-02    NaN          NaN  1131.699951
2  52055150  PUERRES  2004-09-08    NaN  1131.599976          NaN
3  52055150  PUERRES  2004-12-31  954.0          NaN          NaN

In [24]:
Dept = 'BOGOTÁ, D.C.'
Y = 2004

df['Year'] = df['Date'].dt.year
filtro = (df['Dept'] == Dept) & (df['Year'] == Y)
df_filtrado = df.loc[filtro, ['Dept','City', 'Date', 'Pressure', 'CodSta']]

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '00'
    elif 6 <= hour < 12:
        return '06'
    elif 12 <= hour < 18:
        return '12'
    elif 18 <= hour < 24:
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_avg = df_avg.dropna(subset=['AvgPressure'])

df3 = df_avg.pivot(index=['CodSta', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df3.columns.name = None
df3.rename(columns={'Date_only': 'Date'}, inplace=True)

df3

<ipython-input-24-0afe08cea093>:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(

      CodSta          City        Date           00           06     12
0   21206940  BOGOTÁ, D.C.  2004-01-15          NaN  1183.000000    NaN
1   21206940  BOGOTÁ, D.C.  2004-04-14          NaN  1182.000000    NaN
2   21206940  BOGOTÁ, D.C.  2004-05-15  1183.000000          NaN    NaN
3   21206940  BOGOTÁ, D.C.  2004-06-17  1183.000000          NaN    NaN
4   21206940  BOGOTÁ, D.C.  2004-08-18  1183.000000          NaN    NaN
..       ...           ...         ...          ...          ...    ...
70  21206940  BOGOTÁ, D.C.  2004-12-27   741.857117   742.833313  742.5
71  21206940  BOGOTÁ, D.C.  2004-12-28   741.250000   742.200012    NaN
72  21206940  BOGOTÁ, D.C.  2004-12-29   740.750000   742.750000    NaN
73  21206940  BOGOTÁ, D.C.  2004-12-30   740.666687   742.000000  741.0
74  21206940  BOGOTÁ, D.C.  2004-12-31   740.750000   742.285706    NaN

[75 rows x 6 columns]

In [25]:
dataframes = [df1, df2, df3]
result = dataframes[0]
for df in dataframes[1:]:
    result = result.merge(df, on=['CodSta', 'City', 'Date'], how='outer')
result

,CodSta,City,Date,00_x,06_x,12_x,00_y,06_y,12_y,00,06,12
0,21206940,"BOGOTÁ, D.C.",2004-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1183.0,NaN
1,21206940,"BOGOTÁ, D.C.",2004-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1182.0,NaN
2,21206940,"BOGOTÁ, D.C.",2004-05-15,NaN,NaN,NaN,NaN,NaN,NaN,1183.0,NaN,NaN
3,21206940,"BOGOTÁ, D.C.",2004-06-17,NaN,NaN,NaN,NaN,NaN,NaN,1183.0,NaN,NaN
4,21206940,"BOGOTÁ, D.C.",2004-08-18,NaN,NaN,NaN,NaN,NaN,NaN,1183.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
128,57015010,BUENAVENTURA,2004-11-01,1131.599976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,57015010,BUENAVENTURA,2004-11-08,1131.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,57015010,BUENAVENTURA,2004-11-15,NaN,1132.099976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,57015010,BUENAVENTURA,2004-11-23,1132.099976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,57015010,BUENAVENTURA,2004-11-30,1131.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN