In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
df = pd.read_parquet('../pressure.parquet')
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,36015020,2017-10-03 06:00:00,992.500000,275,CASANARE,PAZ DE ARIPORO,5.816,-71.420
1,21195190,2014-02-14 05:00:00,785.200012,74,CUNDINAMARCA,PASCA,4.310,-74.312
2,21015050,2013-09-27 18:00:00,805.299988,48,HUILA,SAN AGUSTÍN,1.926,-76.428
3,21115010,2005-11-28 10:00:00,958.500000,62,HUILA,VILLAVIEJA,3.234,-75.168
4,28035060,2008-04-08 04:00:00,988.700012,230,CESAR,VALLEDUPAR,10.464,-73.248
...,...,...,...,...,...,...,...,...
22611003,48015050,2024-10-16 23:04:00,1000.500000,290,AMAZONAS,LETICIA,-4.194,-69.941
22611004,48015050,2024-10-16 09:08:00,1004.099976,290,AMAZONAS,LETICIA,-4.194,-69.941
22611005,16015501,2024-10-16 19:02:00,972.900024,37,NORTE DE SANTANDER,CÚCUTA,7.931,-72.510
22611006,48015040,2024-10-16 22:40:00,997.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611007,11175000,2024-10-16 14:00:00,1006.000000,10,CHOCÓ,EL ATRATO,5.529,-76.634

In [3]:
df['Date'] = pd.to_datetime(df['Date'],format='%m/%d/%Y %I:%M:%S %p')
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,36015020,2017-10-03 06:00:00,992.500000,275,CASANARE,PAZ DE ARIPORO,5.816,-71.420
1,21195190,2014-02-14 05:00:00,785.200012,74,CUNDINAMARCA,PASCA,4.310,-74.312
2,21015050,2013-09-27 18:00:00,805.299988,48,HUILA,SAN AGUSTÍN,1.926,-76.428
3,21115010,2005-11-28 10:00:00,958.500000,62,HUILA,VILLAVIEJA,3.234,-75.168
4,28035060,2008-04-08 04:00:00,988.700012,230,CESAR,VALLEDUPAR,10.464,-73.248
...,...,...,...,...,...,...,...,...
22611003,48015050,2024-10-16 23:04:00,1000.500000,290,AMAZONAS,LETICIA,-4.194,-69.941
22611004,48015050,2024-10-16 09:08:00,1004.099976,290,AMAZONAS,LETICIA,-4.194,-69.941
22611005,16015501,2024-10-16 19:02:00,972.900024,37,NORTE DE SANTANDER,CÚCUTA,7.931,-72.510
22611006,48015040,2024-10-16 22:40:00,997.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611007,11175000,2024-10-16 14:00:00,1006.000000,10,CHOCÓ,EL ATRATO,5.529,-76.634

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df.nunique()

In [ ]:
df.duplicated().sum()

In [ ]:
duplicados = df[df.duplicated()].sort_values(by='Date', ascending=True).reset_index(drop=True)
duplicados

In [4]:
df = df.sort_values(by='Date', ascending=True).reset_index(drop=True)
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,57015010,2001-03-15 23:29:00,1131.900024,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
1,57015010,2001-03-24 18:00:00,1131.199951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
2,57015010,2001-03-26 06:16:00,1131.699951,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
3,57015010,2001-04-05 13:03:00,1132.099976,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
4,57015010,2001-04-10 07:48:00,1131.500000,323,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
...,...,...,...,...,...,...,...,...
22611003,52055230,2024-10-16 23:58:00,718.099976,306,NARIÑO,ALDANA,0.857,-77.678
22611004,48015040,2024-10-16 23:58:00,996.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611005,52055230,2024-10-16 23:58:00,718.099976,306,NARIÑO,ALDANA,0.857,-77.678
22611006,48015040,2024-10-16 23:59:00,996.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22611007,48015040,2024-10-16 23:59:00,996.400024,289,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363

In [5]:
df[['Dept', 'City']] = df[['Dept', 'City']].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22611008 entries, 0 to 22611007
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   CodSta    uint64
 1   Date      datetime64[ns]
 2   Pressure  float32
 3   Sta       int64
 4   Dept      object
 5   City      object
 6   Lat       float64
 7   Long      float64
dtypes: datetime64[ns](1), float32(1), float64(2), int64(1), object(2), uint64(1)
memory usage: 1.3+ GB

In [ ]:
result = (df.groupby([df['Date'].dt.year, 'Dept', 'City','CodSta'],observed=True)
          .size()
          .reset_index(name='Observations')
          .query('Observations > 1')
          .sort_values('Date'))
result

In [ ]:
result_2004 = result[result['Date'] == 2004]
result_2004

In [ ]:
print("\nResumen por año:")
result.groupby('Date')['Observations'].agg(['count', 'sum'])

In [ ]:
Dept = 'BOGOTÁ, D.C.'
Y = 2024
df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()
df_filtrado

In [ ]:
df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '06'
    elif 6 <= hour < 12:
        return '12'
    elif 12 <= hour < 18:
        return '18'
    elif 18 <= hour < 24:
        return '00'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_filtrado

In [ ]:
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()
df_avg

In [ ]:
df_pivot = df_avg.pivot(index=['CodSta','Dept','City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

In [ ]:
Dept = 'VALLE DEL CAUCA'
Y = 2010

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '06'
    elif (6 <= hour) and (hour < 12):
        return '12'
    elif (12 <= hour) and (hour < 18):
        return '18'
    elif (18 <= hour) and (hour < 24):
        return '00'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_pivot = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

In [ ]:
df_pivot[['CodSta','City']].drop_duplicates()

In [ ]:
fechas_por_ciudad = df_avg.groupby('City').agg({'CodSta':'count'}).reset_index()

fechas_por_ciudad

In [ ]:
fechas_por_ciudad = df_avg.groupby('CodSta')['Date_only'].nunique().reset_index()
fechas_por_ciudad = fechas_por_ciudad.rename(columns={'Date_only': 'Cantidad_Fechas_Unicas'})
fechas_por_ciudad = fechas_por_ciudad.sort_values('Cantidad_Fechas_Unicas', ascending=False)

fechas_por_ciudad

In [ ]:
suma_total = fechas_por_ciudad['Cantidad_Fechas_Unicas'].sum()
suma_total

In [ ]:
df_pivot.info()

In [ ]:
df_pivot.describe()

In [ ]:
Dept = 'NARIÑO'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df4 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df4.columns.name = None
df4.rename(columns={'Date_only': 'Date'}, inplace=True)

df4

In [ ]:
Dept = 'VALLE DEL CAUCA'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df1 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df1.columns.name = None
df1.rename(columns={'Date_only': 'Date'}, inplace=True)

df1

In [ ]:
Dept = 'VALLE DEL CAUCA'
Y = 2003

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df2 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df2.columns.name = None
df2.rename(columns={'Date_only': 'Date'}, inplace=True)

df2

In [ ]:
Dept = 'BOGOTÁ, D.C.'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df3 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df3.columns.name = None
df3.rename(columns={'Date_only': 'Date'}, inplace=True)

df3

In [ ]:
lista_dfs = [df1, df2, df3, df4]

df_final = pd.concat(lista_dfs, axis=0, ignore_index=True)
columnas = ['CodSta', 'Dept', 'City', 'Date', '00','06','12', '18']
df_final = df_final[columnas]
    
df_final = df_final.sort_values('Date',ascending=True)
df_final

In [ ]:
df_final.info()

In [ ]:
df_final.describe()

In [13]:
def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '06'
    elif (6 <= hour) and (hour < 12):
        return '12'
    elif (12 <= hour) and (hour < 18):
        return '18'
    elif (18 <= hour) and (hour < 24):
        return '00'

df_filtrado = df[['Dept', 'City', 'Date', 'Pressure', 'CodSta']].copy()
df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour
df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)

df_avg = df_filtrado.groupby(['CodSta', 'Dept', 'City', 'Date_only', 'Interval'], observed=True).agg(
        AvgPressure=('Pressure', 'mean')).reset_index()
    
df_final = df_avg.pivot(index=['CodSta', 'Dept', 'City', 'Date_only'], 
                            columns='Interval', values='AvgPressure').reset_index()
df_final.columns.name = None
df_final.rename(columns={'Date_only': 'Date'}, inplace=True)
    

df_final = df_final.sort_values(['Dept','City','CodSta','Date'], ascending=True)

df_final

In [12]:
df_final.to_parquet('../finalpresion.parquet')