# Importación de Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Importación del archivo

In [2]:
df = pd.read_parquet('../temperature.parquet')
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,48015050,2024-01-04 21:58:00,21.100000,466,AMAZONAS,LETICIA,-4.194,-69.941
1,15065180,2024-01-04 19:46:00,22.299999,33,LA GUAJIRA,RIOHACHA,11.529,-72.918
2,3502500135,2024-01-04 03:56:00,17.000000,585,CUNDINAMARCA,GUAYABETAL,4.228,-73.814
3,16015501,2024-01-04 16:30:00,28.500000,44,NORTE DE SANTANDER,CÚCUTA,7.931,-72.510
4,26125710,2024-01-04 06:58:00,20.900000,322,RISARALDA,PEREIRA,4.813,-75.740
...,...,...,...,...,...,...,...,...
78017982,52025501,2019-03-15 07:40:00,16.380951,476,CAUCA,LA VEGA,2.093,-76.812
78017983,35075080,2015-07-02 12:00:00,8.500000,423,BOYACÁ,VENTAQUEMADA,5.392,-73.563
78017984,52055170,2018-01-09 12:00:00,22.700001,487,NARIÑO,CONTADERO,0.930,-77.491
78017985,27015330,2017-03-26 11:00:00,21.700001,378,ANTIOQUIA,MEDELLÍN,6.223,-75.588
78017986,44035040,2011-01-16 20:00:00,23.799999,455,CAQUETÁ,FLORENCIA,1.733,-75.645

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78017987 entries, 0 to 78017986
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   CodSta    uint64
 1   Date      datetime64[ns]
 2   Pressure  float32
 3   Sta       int64
 4   Dept      category
 5   City      category
 6   Lat       float64
 7   Long      float64
dtypes: category(2), datetime64[ns](1), float32(1), float64(2), int64(1), uint64(1)
memory usage: 3.4 GB

In [4]:
df.describe()

,CodSta,Date,Pressure,Sta,Lat,Long
count,7.801799e+07,78017987,7.801799e+07,7.801799e+07,7.801799e+07,7.801799e+07
mean,2.292702e+08,2018-09-07 23:41:25.126575616,1.903809e+01,2.802436e+02,5.092542e+00,-7.491844e+01
min,1.102550e+07,2001-01-01 00:19:05,0.000000e+00,0.000000e+00,-4.194000e+00,-8.170100e+01
25%,2.120552e+07,2017-04-23 18:00:00,1.560000e+01,1.390000e+02,4.305000e+00,-7.580600e+01
50%,2.608517e+07,2019-05-25 00:00:00,1.876737e+01,3.030000e+02,4.813000e+00,-7.511700e+01
75%,2.803506e+07,2021-01-30 03:45:00,2.320000e+01,3.870000e+02,5.677000e+00,-7.405000e+01
max,5.311500e+09,2024-10-16 23:58:00,5.000000e+01,6.010000e+02,1.579700e+01,0.000000e+00
std,6.699387e+08,NaN,1.087783e+01,1.552960e+02,2.193501e+00,1.667258e+00

In [20]:
df.isna().sum()

CodSta      0
Date        0
Pressure    0
Sta         0
Dept        0
City        0
Lat         0
Long        0
dtype: int64

In [21]:
df.nunique()

CodSta          602
Date        2279097
Pressure    2582857
Sta             602
Dept             33
City            400
Lat             556
Long            554
dtype: int64

In [22]:
df.duplicated().sum()

MemoryError: Unable to allocate 595. MiB for an array with shape (78017987,) and data type int64

No se borraron archivos duplicados, pues como tomaremos datos para el promedio esto ayudaría a no tener outlayers

In [10]:
df = df.sort_values(by='Date', ascending=True).reset_index(drop=True)
df

,CodSta,Date,Pressure,Sta,Dept,City,Lat,Long
0,57015010,2001-03-15 23:29:00,1131.900024,513,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
1,57015010,2001-03-24 18:00:00,1131.199951,513,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
2,57015010,2001-03-26 06:16:00,1131.699951,513,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
3,57015010,2001-04-05 13:03:00,1132.099976,513,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
4,57015010,2001-04-10 07:48:00,1131.500000,513,VALLE DEL CAUCA,BUENAVENTURA,4.096,-81.609
...,...,...,...,...,...,...,...,...
22607897,26125710,2024-10-16 23:58:00,868.000000,322,RISARALDA,PEREIRA,4.813,-75.740
22607898,26125710,2024-10-16 23:58:00,868.000000,322,RISARALDA,PEREIRA,4.813,-75.740
22607899,24035340,2024-10-16 23:58:00,760.000000,257,BOYACÁ,SOGAMOSO,5.677,-72.968
22607900,48015040,2024-10-16 23:59:00,996.400024,465,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363
22607901,48015040,2024-10-16 23:59:00,996.400024,465,AMAZONAS,PUERTO NARIÑO,-3.780,-70.363

## Algunas observaciones

In [23]:
df[['Dept', 'City']] = df[['Dept', 'City']].astype(str)
df.info()

MemoryError: Unable to allocate 595. MiB for an array with shape (78017987,) and data type int64

In [12]:
result = (df.groupby([df['Date'].dt.year, 'Dept', 'City','CodSta'],observed=True)
          .size()
          .reset_index(name='Observations')
          .query('Observations > 1')
          .sort_values('Date'))
result

      Date             Dept          City      CodSta  Observations
0     2001  VALLE DEL CAUCA  BUENAVENTURA    57015010            21
1     2002  VALLE DEL CAUCA  BUENAVENTURA    57015010            37
3     2003  VALLE DEL CAUCA  BUENAVENTURA    57015010            67
4     2004     BOGOTÁ, D.C.  BOGOTÁ, D.C.    21206940          1011
5     2004           NARIÑO       PUERRES    52055150             4
...    ...              ...           ...         ...           ...
2871  2024            CHOCÓ       ISTMINA    54010010          3106
2872  2024            CHOCÓ       ISTMINA    54050010          2759
2873  2024            CHOCÓ         LLORÓ  1117500060           180
2875  2024            CHOCÓ        QUIBDÓ    11045010          2244
3008  2024          VICHADA  LA PRIMAVERA  3526500201          2296

[3005 rows x 5 columns]

In [13]:
result_2004 = result[result['Date'] == 2004]
result_2004

   Date             Dept          City    CodSta  Observations
4  2004     BOGOTÁ, D.C.  BOGOTÁ, D.C.  21206940          1011
5  2004           NARIÑO       PUERRES  52055150             4
6  2004  VALLE DEL CAUCA  BUENAVENTURA  57015010            57

Resumen de cantidad de observaciones por año:

In [14]:
print("\nResumen por año:")
result.groupby('Date')['Observations'].agg(['count', 'sum'])

Resumen por año:

      count      sum
Date
2001      1       21
2002      1       37
2003      1       67
2004      3     1072
2005     58   181871
2006     67   374309
2007     75   433153
2008     79   480291
2009     79   469227
2010     78   460523
2011     80   461815
2012     85   414691
2013     91   571072
2014    104   618074
2015    119   764776
2016    125   879354
2017    150   932471
2018    200  1258489
2019    305  3175006
2020    297  2871019
2021    272  2048294
2022    252  1069966
2023    272  1808252
2024    211  3334048

# Modificando Dataframe

In [15]:
Dept = 'BOGOTÁ, D.C.'
Y = 2024
df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()
df_filtrado

                  Dept          City                Date    Pressure    CodSta
19276972  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 00:00:00  753.105774  21205523
19276990  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 00:00:00  687.663330  35025502
19277007  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 00:00:00  702.124329  21205512
19277009  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 00:00:00  707.658020  21205509
19277064  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-01-01 00:10:00  687.663696  35025502
...                ...           ...                 ...         ...       ...
22610507  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 23:30:00  753.070312  21205523
22610668  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 23:40:00  753.006775  21205523
22610685  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 23:40:00  753.006775  21205523
22610832  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 23:50:00  753.007629  21205523
22610856  BOGOTÁ, D.C.  BOGOTÁ, D.C. 2024-10-16 23:50:00  753.007629  21205523

[66173 rows x 5 columns]

Vamos a identificar a que hora pertenece cada observacion tomada:

In [16]:
df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if 0 <= hour < 6:
        return '06'
    elif 6 <= hour < 12:
        return '12'
    elif 12 <= hour < 18:
        return '18'
    elif 18 <= hour < 24:
        return '00'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_filtrado

,Dept,City,Date,Pressure,CodSta,Date_only,Hour,Interval
19276972,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-01-01 00:00:00,753.105774,21205523,2024-01-01,0,06
19276990,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-01-01 00:00:00,687.663330,35025502,2024-01-01,0,06
19277007,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-01-01 00:00:00,702.124329,21205512,2024-01-01,0,06
19277009,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-01-01 00:00:00,707.658020,21205509,2024-01-01,0,06
19277064,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-01-01 00:10:00,687.663696,35025502,2024-01-01,0,06
...,...,...,...,...,...,...,...,...
22610507,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16 23:30:00,753.070312,21205523,2024-10-16,23,00
22610668,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16 23:40:00,753.006775,21205523,2024-10-16,23,00
22610685,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16 23:40:00,753.006775,21205523,2024-10-16,23,00
22610832,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16 23:50:00,753.007629,21205523,2024-10-16,23,00
22610856,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16 23:50:00,753.007629,21205523,2024-10-16,23,00

Ahora, agrupando, sacaremos el promedio de cada intervalo de hora escogido:

In [ ]:
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval']).agg(
    AvgPressure=('Pressure', 'mean'),MaxTemp=('Pressure','max'),MinTemp=('Pressure','min')).reset_index()
df_avg

          CodSta          Dept          City   Date_only Interval  AvgPressure
0       21205012  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-09-04       06   754.450012
1       21205012  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-09-04       12   753.699951
2       21205012  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-09-05       00   755.000000
3       21205012  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-09-05       06   754.600037
4       21205012  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-09-05       12   753.399963
...          ...           ...           ...         ...      ...          ...
3988  2120500204  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-10-15       18   752.383301
3989  2120500204  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-10-16       00   753.500000
3990  2120500204  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-10-16       06   753.616699
3991  2120500204  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-10-16       12   754.299988
3992  2120500204  BOGOTÁ, D.C.  BOGOTÁ, D.C.  2024-10-16       18   751.733337

[3993 rows x 6 columns]

Ahora, para las horas que comparten fechas, lo convertiremos en Columnas, y las observaciones serán los promedios tomados anteriormente

In [18]:
df_pivot = df_avg.pivot(index=['CodSta','Dept','City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

,CodSta,Dept,City,Date,00,06,12,18
0,21205012,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-09-04,NaN,754.450012,753.699951,NaN
1,21205012,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-09-05,755.000000,754.600037,753.399963,753.833313
2,21205012,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-09-06,753.433350,754.183350,752.683350,752.483337
3,21205012,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-09-07,753.966614,753.466614,752.166687,752.766663
4,21205012,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-09-08,754.766663,753.833313,753.333313,753.799988
...,...,...,...,...,...,...,...,...
1051,2120500204,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-12,754.250000,753.100037,754.049988,751.950012
1052,2120500204,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-13,755.916687,754.066650,755.283386,753.799988
1053,2120500204,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-14,755.149963,755.216614,756.133301,753.799988
1054,2120500204,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-15,754.316650,754.133301,755.549988,752.383301
1055,2120500204,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2024-10-16,753.500000,753.616699,754.299988,751.733337

Harenmos el mismo procedimiento en una sola celda:

In [19]:
Dept = 'VALLE DEL CAUCA'
Y = 2010

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '06'
    elif (6 <= hour) and (hour < 12):
        return '12'
    elif (12 <= hour) and (hour < 18):
        return '18'
    elif (18 <= hour) and (hour < 24):
        return '00'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df_pivot = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df_pivot.columns.name = None
df_pivot.rename(columns={'Date_only': 'Date'}, inplace=True)

df_pivot

,CodSta,Dept,City,Date,00,06,12,18
0,26055100,VALLE DEL CAUCA,CALI,2010-01-01,779.049988,782.983337,787.466614,777.166687
1,26055100,VALLE DEL CAUCA,CALI,2010-01-02,777.133301,784.750000,780.833313,775.216614
2,26055100,VALLE DEL CAUCA,CALI,2010-01-03,777.566650,783.250000,781.033386,774.966614
3,26055100,VALLE DEL CAUCA,CALI,2010-01-04,778.266663,783.366699,784.833313,776.133301
4,26055100,VALLE DEL CAUCA,CALI,2010-01-05,778.783264,783.149963,784.283386,777.633301
...,...,...,...,...,...,...,...,...
2584,57015010,VALLE DEL CAUCA,BUENAVENTURA,2010-12-22,NaN,1131.900024,NaN,744.799988
2585,57015010,VALLE DEL CAUCA,BUENAVENTURA,2010-12-23,NaN,NaN,752.000000,NaN
2586,57015010,VALLE DEL CAUCA,BUENAVENTURA,2010-12-25,504.000000,NaN,NaN,NaN
2587,57015010,VALLE DEL CAUCA,BUENAVENTURA,2010-12-26,NaN,NaN,NaN,744.799988
2588,57015010,VALLE DEL CAUCA,BUENAVENTURA,2010-12-28,NaN,1131.199951,NaN,NaN

In [20]:
df_pivot[['CodSta','City']].drop_duplicates()

        CodSta          City
0     26055100          CALI
319   26055110       JAMUNDÍ
681   26055120          CALI
1043  26085170          CALI
1398  26095320          BUGA
1717  26105250       CARTAGO
2066  54077210  BUENAVENTURA
2318  57015010  BUENAVENTURA

In [21]:
fechas_por_ciudad = df_avg.groupby('City').agg({'CodSta':'count'}).reset_index()

fechas_por_ciudad

           City  CodSta
0  BUENAVENTURA    1720
1          BUGA    1257
2          CALI    4074
3       CARTAGO    1377
4       JAMUNDÍ    1428

In [22]:
fechas_por_ciudad = df_avg.groupby('CodSta')['Date_only'].nunique().reset_index()
fechas_por_ciudad = fechas_por_ciudad.rename(columns={'Date_only': 'Cantidad_Fechas_Unicas'})
fechas_por_ciudad = fechas_por_ciudad.sort_values('Cantidad_Fechas_Unicas', ascending=False)

fechas_por_ciudad

     CodSta  Cantidad_Fechas_Unicas
1  26055110                     362
2  26055120                     362
3  26085170                     355
5  26105250                     349
0  26055100                     319
4  26095320                     319
7  57015010                     271
6  54077210                     252

In [23]:
suma_total = fechas_por_ciudad['Cantidad_Fechas_Unicas'].sum()
suma_total

2589

In [24]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CodSta  2589 non-null   uint64
 1   Dept    2589 non-null   object
 2   City    2589 non-null   object
 3   Date    2589 non-null   object
 4   00      2448 non-null   float32
 5   06      2440 non-null   float32
 6   12      2498 non-null   float32
 7   18      2470 non-null   float32
dtypes: float32(4), object(3), uint64(1)
memory usage: 121.5+ KB

In [25]:
df_pivot.describe()

             CodSta           00           06           12           18
count  2.589000e+03  2448.000000  2440.000000  2498.000000  2470.000000
mean   3.203916e+07   896.974060   897.848389   899.801453   898.566589
std    1.187471e+07    70.840576    68.728134    69.226936    75.189964
min    2.605510e+07   473.399994   640.400024   512.000000   489.600006
25%    2.605511e+07   838.833313   840.753296   838.954163   833.304138
50%    2.608517e+07   902.716614   903.437500   904.833313   900.740051
75%    2.610525e+07   905.950012   906.087463   907.765015   904.425049
max    5.701501e+07  1157.900024  1132.099976  1157.900024  1157.900024

# Uniendo dataframes

Haremos lo mismo, pero ahora para crear 4 dataframes y unirlos:

In [26]:
Dept = 'NARIÑO'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df4 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df4.columns.name = None
df4.rename(columns={'Date_only': 'Date'}, inplace=True)

df4

,CodSta,Dept,City,Date,00,06,12,18
0,52055150,NARIÑO,PUERRES,2004-08-24,NaN,1131.699951,NaN,NaN
1,52055150,NARIÑO,PUERRES,2004-09-02,NaN,NaN,1131.699951,NaN
2,52055150,NARIÑO,PUERRES,2004-09-08,NaN,NaN,NaN,1131.599976
3,52055150,NARIÑO,PUERRES,2004-12-31,954.0,NaN,NaN,NaN

In [27]:
Dept = 'VALLE DEL CAUCA'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df1 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df1.columns.name = None
df1.rename(columns={'Date_only': 'Date'}, inplace=True)

df1

,CodSta,Dept,City,Date,00,06,12,18
0,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-01,1132.099976,NaN,NaN,NaN
1,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-11,NaN,1131.300049,1132.000000,NaN
2,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-18,NaN,NaN,1131.500000,NaN
3,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-21,NaN,NaN,1131.599976,NaN
4,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-25,NaN,NaN,1131.900024,NaN
5,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-01-31,NaN,NaN,NaN,1131.699951
6,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-01,NaN,NaN,1131.699951,NaN
7,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-08,NaN,NaN,1131.699951,NaN
8,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-15,NaN,NaN,1131.699951,NaN
9,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-18,NaN,1132.000000,NaN,NaN
10,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-19,NaN,761.000000,NaN,NaN
11,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-22,NaN,NaN,NaN,1131.800049
12,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-02-29,NaN,NaN,NaN,1131.599976
13,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-03-04,1132.000000,NaN,NaN,NaN
14,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-03-20,NaN,1132.000000,NaN,NaN
15,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-03-25,NaN,1131.199951,NaN,NaN
16,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-04-01,NaN,NaN,NaN,1131.199951
17,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-04-09,1132.000000,NaN,NaN,NaN
18,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-04-16,NaN,1131.400024,NaN,NaN
19,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-04-21,NaN,NaN,1131.500000,NaN
20,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-04-28,NaN,NaN,NaN,1131.599976
21,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-05-01,1131.400024,NaN,NaN,NaN
22,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-05-08,NaN,1131.300049,NaN,NaN
23,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-05-18,NaN,NaN,1131.800049,NaN
24,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-05-29,NaN,1131.300049,NaN,NaN
25,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-05-30,NaN,NaN,1131.300049,NaN
26,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-06-01,NaN,NaN,NaN,1131.900024
27,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-06-12,1131.599976,NaN,NaN,NaN
28,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-06-16,1131.500000,NaN,NaN,NaN
29,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-06-22,NaN,1131.400024,NaN,NaN
30,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-06-23,1131.300049,NaN,NaN,NaN
31,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-01,1131.300049,1131.699951,NaN,NaN
32,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-02,NaN,NaN,1132.099976,NaN
33,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-15,1131.300049,NaN,NaN,NaN
34,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-18,1131.500000,NaN,NaN,NaN
35,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-22,NaN,1131.199951,NaN,NaN
36,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-07-25,NaN,NaN,NaN,1131.300049
37,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-08-01,NaN,NaN,1132.099976,NaN
38,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-08-02,NaN,1131.699951,NaN,NaN
39,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-08-11,NaN,NaN,NaN,1131.199951
40,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-08-17,NaN,NaN,1132.000000,NaN
41,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-08-22,NaN,1131.599976,NaN,NaN
42,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-09-01,NaN,NaN,1131.699951,NaN
43,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-09-12,NaN,NaN,1132.000000,NaN
44,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-09-14,NaN,NaN,1131.599976,NaN
45,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-09-19,NaN,NaN,1131.199951,NaN
46,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-09-26,NaN,NaN,1131.849976,NaN
47,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-10-03,NaN,NaN,1131.800049,NaN
48,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-10-18,1131.300049,NaN,NaN,NaN
49,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-11-01,1131.599976,NaN,NaN,NaN
50,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-11-08,NaN,NaN,1131.300049,NaN
51,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-11-15,NaN,NaN,NaN,1132.099976
52,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-11-23,1132.099976,NaN,NaN,NaN
53,57015010,VALLE DEL CAUCA,BUENAVENTURA,2004-11-30,NaN,NaN,1131.300049,NaN

In [28]:
Dept = 'VALLE DEL CAUCA'
Y = 2003

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df2 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df2.columns.name = None
df2.rename(columns={'Date_only': 'Date'}, inplace=True)

df2

,CodSta,Dept,City,Date,00,06,12,18
0,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-15,NaN,NaN,NaN,1132.000000
1,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-22,NaN,NaN,NaN,1132.000000
2,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-26,NaN,NaN,NaN,1132.000000
3,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-02-12,NaN,NaN,1132.000000,NaN
4,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-02-18,NaN,1132.099976,NaN,NaN
5,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-02-25,NaN,1131.800049,NaN,NaN
6,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-03-01,1131.300049,NaN,NaN,NaN
7,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-03-10,NaN,NaN,1131.900024,NaN
8,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-03-17,NaN,NaN,1131.300049,NaN
9,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-03-20,NaN,NaN,NaN,1131.599976
10,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-03-31,1131.400024,NaN,NaN,NaN
11,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-04-03,NaN,1131.199951,NaN,NaN
12,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-04-10,NaN,1132.099976,NaN,NaN
13,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-04-19,NaN,NaN,NaN,1131.900024
14,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-04-20,NaN,NaN,1131.800049,NaN
15,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-04-30,NaN,NaN,NaN,1131.599976
16,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-06,NaN,1131.800049,NaN,NaN
17,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-11,1131.199951,NaN,NaN,NaN
18,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-21,NaN,1131.400024,NaN,NaN
19,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-22,NaN,NaN,NaN,1131.900024
20,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-30,NaN,NaN,NaN,1132.000000
21,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-05-31,NaN,NaN,NaN,1131.599976
22,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-06-11,1131.699951,NaN,NaN,NaN
23,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-06-19,NaN,1132.000000,NaN,NaN
24,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-06-21,NaN,1131.800049,NaN,NaN
25,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-06-23,NaN,NaN,NaN,1131.800049
26,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-06-26,NaN,NaN,1131.599976,NaN
27,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-03,NaN,NaN,1131.800049,NaN
28,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-10,NaN,1131.800049,1131.400024,NaN
29,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-17,NaN,NaN,1131.400024,NaN
30,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-24,NaN,NaN,1131.599976,NaN
31,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-27,1131.300049,NaN,NaN,NaN
32,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-07-31,NaN,NaN,1131.400024,NaN
33,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-07,NaN,NaN,1131.599976,NaN
34,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-12,NaN,NaN,1131.800049,NaN
35,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-14,NaN,NaN,1131.800049,NaN
36,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-28,NaN,1131.599976,NaN,728.200012
37,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-30,NaN,NaN,910.200012,NaN
38,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-08-31,NaN,NaN,NaN,550.500000
39,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-04,NaN,1131.699951,NaN,409.899994
40,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-07,NaN,NaN,409.600006,NaN
41,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-10,NaN,409.899994,NaN,NaN
42,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-11,NaN,1131.699951,NaN,NaN
43,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-17,409.899994,NaN,NaN,NaN
44,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-18,NaN,1006.500000,NaN,NaN
45,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-22,NaN,821.900024,NaN,NaN
46,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-09-29,NaN,NaN,821.799988,NaN
47,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-06,NaN,NaN,NaN,821.900024
48,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-11,NaN,412.399994,NaN,NaN
49,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-12,NaN,NaN,412.299988,NaN
50,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-13,412.399994,NaN,NaN,NaN
51,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-15,NaN,1131.400024,NaN,NaN
52,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-10-31,NaN,1131.900024,NaN,1132.099976
53,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-11-10,NaN,NaN,1131.599976,1131.400024
54,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-11-17,NaN,1131.400024,NaN,1131.500000
55,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-11-20,NaN,NaN,NaN,1131.400024
56,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-12-01,NaN,1132.099976,NaN,NaN
57,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-12-02,NaN,NaN,NaN,1131.400024
58,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-12-11,NaN,NaN,1131.300049,NaN
59,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-12-21,NaN,NaN,NaN,1131.699951

In [29]:
Dept = 'BOGOTÁ, D.C.'
Y = 2004

df['Year'] = df['Date'].dt.year
df_filtrado = df.loc[(df['Dept'] == Dept) & (df['Year'] == Y), ['Dept','City', 'Date', 'Pressure', 'CodSta']].copy()

df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour

def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '00'
    elif (6 <= hour) and (hour < 12):
        return '06'
    elif (12 <= hour) and (hour < 18):
        return '12'
    elif (18 <= hour) and (hour < 24):
        return '18'

df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)
df_avg = df_filtrado.groupby(['CodSta','Dept', 'City', 'Date_only', 'Interval'],observed=True).agg(
    AvgPressure=('Pressure', 'mean')).reset_index()

df3 = df_avg.pivot(index=['CodSta','Dept', 'City', 'Date_only'], columns='Interval', values='AvgPressure').reset_index()
df3.columns.name = None
df3.rename(columns={'Date_only': 'Date'}, inplace=True)

df3

,CodSta,Dept,City,Date,00,06,12,18
0,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-01-15,NaN,1183.000000,NaN,NaN
1,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-04-14,NaN,1182.000000,NaN,NaN
2,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-05-15,NaN,NaN,1183.000000,NaN
3,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-06-17,1183.000000,NaN,NaN,NaN
4,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-08-18,NaN,NaN,1183.000000,NaN
...,...,...,...,...,...,...,...,...
70,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-27,742.750000,743.500000,741.400024,742.50
71,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-28,741.500000,742.666687,741.000000,741.50
72,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-29,741.500000,743.000000,740.000000,742.00
73,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-30,741.333313,742.750000,740.250000,741.25
74,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-31,742.000000,742.500000,740.333313,742.00

## Union preliminar

Aqui hemos unido los dataframes anteriormente creados:

In [30]:
lista_dfs = [df1, df2, df3, df4]

df_final = pd.concat(lista_dfs, axis=0, ignore_index=True)
columnas = ['CodSta', 'Dept', 'City', 'Date', '00','06','12', '18']
df_final = df_final[columnas]
    
df_final = df_final.sort_values('Date',ascending=True)
df_final

,CodSta,Dept,City,Date,00,06,12,18
54,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-15,NaN,NaN,NaN,1132.00
55,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-22,NaN,NaN,NaN,1132.00
56,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-01-26,NaN,NaN,NaN,1132.00
57,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-02-12,NaN,NaN,1132.000000,NaN
58,57015010,VALLE DEL CAUCA,BUENAVENTURA,2003-02-18,NaN,1132.099976,NaN,NaN
...,...,...,...,...,...,...,...,...
185,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-28,741.500000,742.666687,741.000000,741.50
186,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-29,741.500000,743.000000,740.000000,742.00
187,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-30,741.333313,742.750000,740.250000,741.25
188,21206940,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",2004-12-31,742.000000,742.500000,740.333313,742.00
192,52055150,NARIÑO,PUERRES,2004-12-31,954.000000,NaN,NaN,NaN

In [31]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 54 to 192
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CodSta  193 non-null    uint64
 1   Dept    193 non-null    object
 2   City    193 non-null    object
 3   Date    193 non-null    object
 4   00      75 non-null     float32
 5   06      100 non-null    float32
 6   12      104 non-null    float32
 7   18      86 non-null     float32
dtypes: float32(4), object(3), uint64(1)
memory usage: 10.6+ KB

In [32]:
df_final.describe()

             CodSta           00           06           12           18
count  1.930000e+02    75.000000   100.000000   104.000000    86.000000
mean   4.299716e+07   840.973572   871.489868   892.608032   854.513611
std    1.743145e+07   189.226028   196.167618   204.109787   188.278717
min    2.120694e+07   409.899994   409.899994   409.600006   409.899994
25%    2.120694e+07   741.366699   742.500000   740.166687   741.762512
50%    5.701501e+07   742.166687   743.325012   741.000000   742.500000
75%    5.701501e+07  1131.250000  1131.400024  1131.599976  1131.400024
max    5.701501e+07  1183.000000  1183.000000  1183.000000  1132.099976

# Parte final

Ahora lo haremos con todo el dataframe:

In [3]:
def get_interval(hour):
    if (0 <= hour) and (hour < 6):
        return '06'
    elif (6 <= hour) and (hour < 12):
        return '12'
    elif (12 <= hour) and (hour < 18):
        return '18'
    elif (18 <= hour) and (hour < 24):
        return '00'

In [4]:
df_filtrado = df[['Dept', 'City', 'Date', 'Pressure', 'CodSta']].copy()
df_filtrado['Date_only'] = df_filtrado['Date'].dt.date
df_filtrado['Hour'] = df_filtrado['Date'].dt.hour
df_filtrado['Interval'] = df_filtrado['Hour'].apply(get_interval)

In [5]:
df_avg = df_filtrado.groupby(['CodSta', 'Dept', 'City', 'Date_only', 'Interval'], observed=True).agg(
        AvgPressure=('Pressure', 'mean'),MaxTemp=('Pressure','max'),MinTemp=('Pressure','min')).reset_index()

In [9]:
df_avg

,CodSta,Dept,City,Date_only,Interval,AvgPressure,MaxTemp,MinTemp
0,11025501,CHOCÓ,EL CARMEN,2016-06-02,00,17.454166,18.400000,16.799999
1,11025501,CHOCÓ,EL CARMEN,2016-06-02,18,19.263414,20.299999,18.400000
2,11025501,CHOCÓ,EL CARMEN,2016-06-03,06,16.602777,16.799999,16.500000
3,11025501,CHOCÓ,EL CARMEN,2016-06-03,12,18.816668,21.900000,16.500000
4,11025501,CHOCÓ,EL CARMEN,2016-06-03,18,20.066668,22.200001,17.799999
...,...,...,...,...,...,...,...,...
4403471,5311500149,VALLE DEL CAUCA,BUENAVENTURA,2024-03-04,06,24.530556,25.000000,24.200001
4403472,5311500149,VALLE DEL CAUCA,BUENAVENTURA,2024-03-04,12,27.716667,31.700001,24.500000
4403473,5311500149,VALLE DEL CAUCA,BUENAVENTURA,2024-03-04,18,30.855556,32.799999,25.799999
4403474,5311500149,VALLE DEL CAUCA,BUENAVENTURA,2024-03-05,06,25.200001,25.600000,25.000000
4403475,5311500149,VALLE DEL CAUCA,BUENAVENTURA,2024-03-05,12,25.756250,26.700001,25.100000

In [10]:
df_final = df_avg.pivot(index=['CodSta', 'Dept', 'City', 'Date_only','MaxTemp','MinTemp'], 
                            columns='Interval', values='AvgPressure').reset_index()

In [11]:
df_final.columns.name = None
df_final.rename(columns={'Date_only': 'Date'}, inplace=True)

In [12]:
df_final = df_final.sort_values(['Dept','City','CodSta','Date'], ascending=True)

df_final

,CodSta,Dept,City,Date,MaxTemp,MinTemp,00,06,12,18
3709435,48015010,AMAZONAS,LETICIA,2014-07-31,24.600000,23.600000,24.025002,NaN,NaN,NaN
3709436,48015010,AMAZONAS,LETICIA,2014-08-01,23.000000,21.900000,NaN,22.350000,NaN,NaN
3709437,48015010,AMAZONAS,LETICIA,2014-08-01,27.200001,24.500000,25.333334,NaN,NaN,NaN
3709438,48015010,AMAZONAS,LETICIA,2014-08-01,30.400000,22.000000,NaN,NaN,26.500000,NaN
3709439,48015010,AMAZONAS,LETICIA,2014-08-01,33.299999,31.600000,NaN,NaN,NaN,32.549999
...,...,...,...,...,...,...,...,...,...,...
4343572,3526500201,VICHADA,LA PRIMAVERA,2024-10-15,31.700001,24.799999,NaN,NaN,NaN,27.283333
4343573,3526500201,VICHADA,LA PRIMAVERA,2024-10-16,23.500000,23.100000,NaN,23.266668,NaN,NaN
4343574,3526500201,VICHADA,LA PRIMAVERA,2024-10-16,29.700001,26.299999,28.016668,NaN,NaN,NaN
4343575,3526500201,VICHADA,LA PRIMAVERA,2024-10-16,31.799999,22.799999,NaN,NaN,27.800001,NaN
4343576,3526500201,VICHADA,LA PRIMAVERA,2024-10-16,34.599998,32.400002,NaN,NaN,NaN,33.433334

Y guardamos el archivo para el uso del modelo:

In [13]:
df_final.to_parquet('../finaltemperature.parquet')